In [1]:
import pandas as pd
import numpy as np

In [2]:
p=pd.read_csv('all-people.csv', encoding='utf-8')
s=pd.read_csv('sales.csv', encoding='utf-8')
m=pd.read_csv('map.csv', encoding='utf-8')
sg_store=pd.read_csv('data/02.상권분석서비스(상권-집객시설).csv', encoding='utf-8')
sg_apt=pd.read_csv('data/16.상권분석서비스(상권-아파트).csv', encoding='utf-8')
# c=pd.read_csv('change.csv', encoding='utf-8')
sggu=pd.read_csv('data/15.상권분석서비스(자치구별 상권변화지표).csv', encoding='utf-8')
sgcode=pd.read_csv('data/09.상권분석서비스(상권-상권변화지표).csv', encoding='utf-8')
sgdong=pd.read_csv('data/10.상권분석서비스(행정동별 상권변화지표).csv', encoding='utf-8')

In [3]:
m.columns , p.columns
m=m[['상권_구분_코드_명','상권_코드','상권_코드_명','시군구_코드','행정동_코드','시군구_코드_명','행정동_코드_명']]

In [ ]:
sg_store=sg_store.fillna('0')
sg_store.columns
sg_store.info()

In [5]:
sg_apt.columns
sg_apt=sg_apt[['기준_년_분기_코드', '상권_코드', '아파트_단지_수']]
sg_apt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년_분기_코드  2644 non-null   object
 1   상권_코드       2644 non-null   int64
 2   아파트_단지_수    2644 non-null   int64
dtypes: int64(2), object(1)
memory usage: 62.1+ KB

In [6]:
apt_st=sg_apt.merge(sg_store, on=['기준_년_분기_코드', '상권_코드'] , how='outer').fillna('0')

In [7]:
apt_st.to_csv('apt_store.csv', index=False)

In [8]:
pm=p.merge(m, on='상권_코드')
pm.columns

Index(['기준_년_분기_코드', '상권_코드', '남성_유동인구_수', '여성_유동인구_수', '주중_유동인구_수',
       '주말_유동인구_수', '남성_상주인구_수', '여성_상주인구_수', '남성_직장_인구_수', '여성_직장_인구_수',
       '상권_구분_코드_명', '상권_코드_명', '시군구_코드', '행정동_코드', '시군구_코드_명', '행정동_코드_명'],
      dtype='object')

In [9]:
m

     상권_구분_코드_명    상권_코드      상권_코드_명  시군구_코드    행정동_코드 시군구_코드_명 행정동_코드_명
0          전통시장  1001453        낙성대시장   11620  11620585      관악구     낙성대동
1          골목상권  1000799    남부순환로234길   11620  11620585      관악구     낙성대동
2          골목상권  1000780       관악로10길   11620  11620585      관악구     낙성대동
3          골목상권  1000781       관악로14길   11620  11620585      관악구     낙성대동
4          전통시장  1001454     봉천제일종합시장   11620  11620595      관악구      청룡동
...         ...      ...          ...     ...       ...      ...      ...
1491       골목상권  1000454       통일로37길   11410  11410620     서대문구     홍제1동
1492       골목상권  1000455       통일로39길   11410  11410620     서대문구     홍제1동
1493       골목상권  1000457         홍제내길   11410  11410620     서대문구     홍제1동
1494       발달상권  1001185  서울 서대문구 신촌역   11410  11410585     서대문구      신촌동
1495       발달상권  1001186  서울 서대문구 이대역   11410  11410585     서대문구      신촌동

[1496 rows x 7 columns]

In [10]:
sm=s.merge(m, on=['상권_코드']).drop_duplicates()
# sm.columns
sm1=sm[['기준_년_분기_코드', '상권_코드','서비스_업종_코드_명', '점포_수', '당월_매출_금액',
       '당월_매출_건수', '주중_매출_금액', '주말_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '유사_업종_점포_수', '개업_점포_수','폐업_점포_수', '프랜차이즈_점포_수',
       '상권_구분_코드_명', '상권_코드_명','시군구_코드_명', '행정동_코드_명']]
sm1

,기준_년_분기_코드,상권_코드,서비스_업종_코드_명,점포_수,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,유사_업종_점포_수,개업_점포_수,폐업_점포_수,프랜차이즈_점포_수,상권_구분_코드_명,상권_코드_명,시군구_코드_명,행정동_코드_명
0,2019_2,1001496,전자상거래업,7,20931734,13998,13222929,7708805,10023144,10583097,7,0,1,0,관광특구,강남 마이스 관광특구,강남구,삼성1동
1,2019_2,1001496,인테리어,4,2000367097,48419,1285669765,714697332,563756514,1380429062,4,0,1,0,관광특구,강남 마이스 관광특구,강남구,삼성1동
2,2019_2,1001496,가전제품,8,2301647043,11720,1722002410,579644633,909775866,1142068634,8,0,0,0,관광특구,강남 마이스 관광특구,강남구,삼성1동
3,2019_2,1001496,화초,6,1356873015,33215,1089464712,267408303,522879031,556138865,6,0,0,0,관광특구,강남 마이스 관광특구,강남구,삼성1동
4,2019_2,1001496,섬유제품,7,2130125149,62318,1281196916,848928233,434448236,1695676913,7,0,0,0,관광특구,강남 마이스 관광특구,강남구,삼성1동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60355,2019_1,1000015,일식음식점,4,297895879,15555,220264655,77631224,114646807,132484532,4,0,0,0,골목상권,이화장길,종로구,이화동
60356,2019_1,1000015,중식음식점,2,30878767,2270,28254493,2624274,15835637,8975947,2,0,0,0,골목상권,이화장길,종로구,이화동
60357,2019_1,1001389,분식전문점,1,56921010,1156,36457216,20463794,28519996,26901821,1,1,1,0,전통시장,합정시장,마포구,합정동
60358,2019_1,1000805,분식전문점,1,49119476,5167,41738133,7381343,36973813,10602291,1,0,0,0,골목상권,대학14길,관악구,대학동
60359,2019_1,1000805,제과점,2,49119476,5167,41738133,7381343,36973813,10602291,2,0,0,0,골목상권,대학14길,관악구,대학동

In [11]:
sm1.columns
sm1=sm1[['기준_년_분기_코드','상권_코드','상권_구분_코드_명', '상권_코드_명', '시군구_코드_명', '행정동_코드_명', '서비스_업종_코드_명', '점포_수', 
         '당월_매출_금액', '당월_매출_건수', '주중_매출_금액','주말_매출_금액', '남성_매출_금액', '여성_매출_금액', 
         '유사_업종_점포_수','프랜차이즈_점포_수', '개업_점포_수', '폐업_점포_수']]

In [12]:
sgdong

,기준_년_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
0,2020_1,11740700,둔촌2동,HL,상권축소,113,50,110,54
1,2020_1,11740690,둔촌1동,HH,정체,156,70,110,54
2,2020_1,11740685,길동,LL,다이나믹,104,48,110,54
3,2020_1,11740660,성내3동,HL,상권축소,111,47,110,54
4,2020_1,11740650,성내2동,LL,다이나믹,105,48,110,54
...,...,...,...,...,...,...,...,...,...
10852,2014_1,11110560,평창동,HH,정체,95,50,91,44
10853,2014_1,11110550,부암동,LH,상권확장,90,47,91,44
10854,2014_1,11110540,삼청동,LH,상권확장,77,48,91,44
10855,2014_1,11110530,사직동,HH,정체,103,50,91,44
10856,2014_1,11110515,청운효자동,LH,상권확장,90,53,91,44

In [13]:
sgcode.columns
sgcode1=sgcode[['기준_년_분기_코드', '상권_코드', '상권_변화_지표_명']]

In [14]:
sgdong

,기준_년_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
0,2020_1,11740700,둔촌2동,HL,상권축소,113,50,110,54
1,2020_1,11740690,둔촌1동,HH,정체,156,70,110,54
2,2020_1,11740685,길동,LL,다이나믹,104,48,110,54
3,2020_1,11740660,성내3동,HL,상권축소,111,47,110,54
4,2020_1,11740650,성내2동,LL,다이나믹,105,48,110,54
...,...,...,...,...,...,...,...,...,...
10852,2014_1,11110560,평창동,HH,정체,95,50,91,44
10853,2014_1,11110550,부암동,LH,상권확장,90,47,91,44
10854,2014_1,11110540,삼청동,LH,상권확장,77,48,91,44
10855,2014_1,11110530,사직동,HH,정체,103,50,91,44
10856,2014_1,11110515,청운효자동,LH,상권확장,90,53,91,44

In [15]:
test1=sm1.merge(sgdong, on=['기준_년_분기_코드', '행정동_코드_명']).drop_duplicates()
test1

,기준_년_분기_코드,상권_코드,상권_구분_코드_명,상권_코드_명,시군구_코드_명,행정동_코드_명,서비스_업종_코드_명,점포_수,당월_매출_금액,당월_매출_건수,...,프랜차이즈_점포_수,개업_점포_수,폐업_점포_수,행정동_코드,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
0,2019_2,1001496,관광특구,강남 마이스 관광특구,강남구,삼성1동,전자상거래업,7,20931734,13998,...,0,0,1,11680580,LH,상권확장,107,56,108,53
1,2019_2,1001496,관광특구,강남 마이스 관광특구,강남구,삼성1동,인테리어,4,2000367097,48419,...,0,0,1,11680580,LH,상권확장,107,56,108,53
2,2019_2,1001496,관광특구,강남 마이스 관광특구,강남구,삼성1동,가전제품,8,2301647043,11720,...,0,0,0,11680580,LH,상권확장,107,56,108,53
3,2019_2,1001496,관광특구,강남 마이스 관광특구,강남구,삼성1동,화초,6,1356873015,33215,...,0,0,0,11680580,LH,상권확장,107,56,108,53
4,2019_2,1001496,관광특구,강남 마이스 관광특구,강남구,삼성1동,섬유제품,7,2130125149,62318,...,0,0,0,11680580,LH,상권확장,107,56,108,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71830,2019_1,1000031,골목상권,다산로36길,중구,동화동,스포츠 강습,1,24316316,2118,...,0,0,0,11140665,HH,정체,108,53,107,53
71831,2019_1,1000031,골목상권,다산로36길,중구,동화동,예술학원,2,34314797,279,...,0,0,0,11140665,HL,상권축소,110,51,104,51
71832,2019_1,1000031,골목상권,다산로36길,중구,동화동,예술학원,2,34314797,279,...,0,0,0,11140665,HH,정체,108,53,107,53
71833,2019_1,1000031,골목상권,다산로36길,중구,동화동,분식전문점,5,28312199,1700,...,1,2,0,11140665,HL,상권축소,110,51,104,51
71834,2019_1,1000031,골목상권,다산로36길,중구,동화동,분식전문점,5,28312199,1700,...,1,2,0,11140665,HH,정체,108,53,107,53

In [16]:
test1[(test1['기준_년_분기_코드']=='2019_1')& (test1['시군구_코드_명'].str.contains('강서'))&(test1['서비스_업종_코드_명'].str.contains('분식'))]

test1['기준_년_분기_코드']=test1['기준_년_분기_코드'].replace('2019_1','2019년1분기').replace('2019_2', '2019년2분기')
test1=test1[['기준_년_분기_코드','상권_구분_코드_명', '상권_코드_명', '시군구_코드_명', '행정동_코드_명', '서비스_업종_코드_명', '점포_수', 
         '당월_매출_금액', '당월_매출_건수', '주중_매출_금액','주말_매출_금액', '남성_매출_금액', '여성_매출_금액', 
         '유사_업종_점포_수','프랜차이즈_점포_수', '개업_점포_수', '폐업_점포_수','상권_변화_지표_명']]
test1

,기준_년_분기_코드,상권_구분_코드_명,상권_코드_명,시군구_코드_명,행정동_코드_명,서비스_업종_코드_명,점포_수,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,유사_업종_점포_수,프랜차이즈_점포_수,개업_점포_수,폐업_점포_수,상권_변화_지표_명
0,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,전자상거래업,7,20931734,13998,13222929,7708805,10023144,10583097,7,0,0,1,상권확장
1,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,인테리어,4,2000367097,48419,1285669765,714697332,563756514,1380429062,4,0,0,1,상권확장
2,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,가전제품,8,2301647043,11720,1722002410,579644633,909775866,1142068634,8,0,0,0,상권확장
3,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,화초,6,1356873015,33215,1089464712,267408303,522879031,556138865,6,0,0,0,상권확장
4,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,섬유제품,7,2130125149,62318,1281196916,848928233,434448236,1695676913,7,0,0,0,상권확장
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71830,2019년1분기,골목상권,다산로36길,중구,동화동,스포츠 강습,1,24316316,2118,22229207,2087109,9215236,15101080,1,0,0,0,정체
71831,2019년1분기,골목상권,다산로36길,중구,동화동,예술학원,2,34314797,279,34314797,0,15302544,19012253,2,0,0,0,상권축소
71832,2019년1분기,골목상권,다산로36길,중구,동화동,예술학원,2,34314797,279,34314797,0,15302544,19012253,2,0,0,0,정체
71833,2019년1분기,골목상권,다산로36길,중구,동화동,분식전문점,5,28312199,1700,16022790,12289409,11662745,16058261,6,1,2,0,상권축소
71834,2019년1분기,골목상권,다산로36길,중구,동화동,분식전문점,5,28312199,1700,16022790,12289409,11662745,16058261,6,1,2,0,정체

In [17]:
# test1

In [18]:
test2 = test1.rename(columns={'기준_년_분기_코드':'yesrSe','상권_구분_코드_명':'sgSeCdName', '상권_코드_명':'sgCdName','시군구_코드_명':'guName', '행정동_코드_명':'dongName',
                      '서비스_업종_코드_명':'serviceKind', '당월_매출_금액':'monthSales','당월_매출_건수':'monthSalesCnt',
                      '주중_매출_금액':'weekdaySales', '주말_매출_금액':'weekendSales', '남성_매출_금액':'menSales', '여성_매출_금액':'womenSales',
                      '점포_수':'storeCnt','유사_업종_점포_수':'similerStoreCnt','프랜차이즈_점포_수':'franchiseCnt',
                      '개업_점포_수':'openStoreCnt', '폐업_점포_수':'closeStoreCnt','상권_변화_지표_명':'sgChangePoint'})
test2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71835 entries, 0 to 71834
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   yesrSe           71835 non-null  object
 1   sgSeCdName       71835 non-null  object
 2   sgCdName         71835 non-null  object
 3   guName           71835 non-null  object
 4   dongName         71835 non-null  object
 5   serviceKind      71835 non-null  object
 6   storeCnt         71835 non-null  int64
 7   monthSales       71835 non-null  int64
 8   monthSalesCnt    71835 non-null  int64
 9   weekdaySales     71835 non-null  int64
 10  weekendSales     71835 non-null  int64
 11  menSales         71835 non-null  int64
 12  womenSales       71835 non-null  int64
 13  similerStoreCnt  71835 non-null  int64
 14  franchiseCnt     71835 non-null  int64
 15  openStoreCnt     71835 non-null  int64
 16  closeStoreCnt    71835 non-null  int64
 17  sgChangePoint    71835 non-null  object
dtypes: int64(11), object(7)
memory usage: 10.4+ MB

In [20]:
# test2.to_csv('추천데이터.csv', index=False)

In [21]:
test1['상권_변화_지표_명'].unique()

array(['상권확장', '정체', '다이나믹', '상권축소'], dtype=object)

In [22]:
test3=test2.replace('상권확장',1).replace('다이나믹' ,4).replace('정체',2).replace('상권축소',3)
test3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71835 entries, 0 to 71834
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   yesrSe           71835 non-null  object
 1   sgSeCdName       71835 non-null  object
 2   sgCdName         71835 non-null  object
 3   guName           71835 non-null  object
 4   dongName         71835 non-null  object
 5   serviceKind      71835 non-null  object
 6   storeCnt         71835 non-null  int64
 7   monthSales       71835 non-null  int64
 8   monthSalesCnt    71835 non-null  int64
 9   weekdaySales     71835 non-null  int64
 10  weekendSales     71835 non-null  int64
 11  menSales         71835 non-null  int64
 12  womenSales       71835 non-null  int64
 13  similerStoreCnt  71835 non-null  int64
 14  franchiseCnt     71835 non-null  int64
 15  openStoreCnt     71835 non-null  int64
 16  closeStoreCnt    71835 non-null  int64
 17  sgChangePoint    71835 non-null  int64
dtypes: int64(12), object(6)
memory usage: 10.4+ MB

In [23]:
test3

,yesrSe,sgSeCdName,sgCdName,guName,dongName,serviceKind,storeCnt,monthSales,monthSalesCnt,weekdaySales,weekendSales,menSales,womenSales,similerStoreCnt,franchiseCnt,openStoreCnt,closeStoreCnt,sgChangePoint
0,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,전자상거래업,7,20931734,13998,13222929,7708805,10023144,10583097,7,0,0,1,1
1,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,인테리어,4,2000367097,48419,1285669765,714697332,563756514,1380429062,4,0,0,1,1
2,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,가전제품,8,2301647043,11720,1722002410,579644633,909775866,1142068634,8,0,0,0,1
3,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,화초,6,1356873015,33215,1089464712,267408303,522879031,556138865,6,0,0,0,1
4,2019년2분기,관광특구,강남 마이스 관광특구,강남구,삼성1동,섬유제품,7,2130125149,62318,1281196916,848928233,434448236,1695676913,7,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71830,2019년1분기,골목상권,다산로36길,중구,동화동,스포츠 강습,1,24316316,2118,22229207,2087109,9215236,15101080,1,0,0,0,2
71831,2019년1분기,골목상권,다산로36길,중구,동화동,예술학원,2,34314797,279,34314797,0,15302544,19012253,2,0,0,0,3
71832,2019년1분기,골목상권,다산로36길,중구,동화동,예술학원,2,34314797,279,34314797,0,15302544,19012253,2,0,0,0,2
71833,2019년1분기,골목상권,다산로36길,중구,동화동,분식전문점,5,28312199,1700,16022790,12289409,11662745,16058261,6,1,2,0,3
71834,2019년1분기,골목상권,다산로36길,중구,동화동,분식전문점,5,28312199,1700,16022790,12289409,11662745,16058261,6,1,2,0,2

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

In [ ]:
X=test3.iloc[:,:-1]
y=test3.iloc[:,-1:]
y=pd.get_dummies(y)
X=pd.get_dummies(X)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.5, 
#                                                     stratify=y,
                                                    random_state=100)

In [ ]:
# DecisionTreeClassifier 객체 생성
dt_clf = DecisionTreeClassifier(random_state=42)

# 학습수행
dt_clf.fit(X_train, y_train)

dt_clf.score(X_train, y_train), dt_clf.score(X_test, y_test)

In [ ]:
# 학습이 완료된 DecisionTreeClassifier 객체에서 테스트 데이터 세트로 예측 수행
y_pred = dt_clf.predict(X_test)


from sklearn.metrics import accuracy_score
print('예측정확도 : {0: .4f}'.format(accuracy_score(y_test, y_pred)))

In [ ]:
from sklearn.model_selection import cross_val_score

cross_val_score(dt_clf, X_test, y_test, cv=10).mean()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
# 학습 진행
forest = RandomForestClassifier(n_estimators=1000, max_depth=10)
forest.fit(X_train, y_train)

# 예측
y_pred = forest.predict(X_test)
print(y_pred)
print(list(y_test))

#Random forest 정확도 측정
print(forest.score(X_train, y_train),forest.score(X_test, y_test))


# 정확도 확인
# accuracy_score(실제 레이블 세트, 예측 레이블 세트) : 정확도를 측정하기 위한 사이킷런의 함수
print('정확도 :', accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier(n_estimators=4,max_depth=10)
gbc.fit(X_train, y_train)

gbc.score(X_train, y_train), gbc.score(X_test, y_test)

In [99]:
m.columns
m2=m[['상권_코드', '상권_코드_명']]

In [100]:
apt_st=apt_st.merge(m2 , on=['상권_코드']).drop_duplicates()

In [101]:
apt_st.columns

Index(['기준_년_분기_코드', '상권_코드', '아파트_단지_수', '집객시설_수', '관공서_수', '은행_수', '종합병원_수',
       '일반_병원_수', '약국_수', '유치원_수', '초등학교_수', '중학교_수', '고등학교_수', '대학교_수',
       '백화점_수', '슈퍼마켓_수', '극장_수', '숙박_시설_수', '공항_수', '철도_역_수', '버스_터미널_수',
       '지하철_역_수', '버스_정거장_수', '상권_코드_명'],
      dtype='object')

In [123]:
dong=pd.read_csv('dong.csv', encoding='utf-8')
dong.columns

Index(['Unnamed: 0', '기준_년_분기_코드', '상권_구분_코드_명', '상권_코드_명', '시군구_코드_명',
       '행정동_코드_명', '서비스_업종_코드_명', '점포_수', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액',
       '주말_매출_금액', '남성_매출_금액', '여성_매출_금액', '유사_업종_점포_수', '프랜차이즈_점포_수',
       '개업_점포_수', '폐업_점포_수', '남성_유동인구_수', '여성_유동인구_수', '주중_유동인구_수',
       '주말_유동인구_수', '남성_상주인구_수', '여성_상주인구_수', '남성_직장_인구_수', '여성_직장_인구_수',
       '동_상권_변화지표', '동_영업_개월_평균', '동_폐업_개월_평균', '서울_영업_개월_평균', '서울_폐업_개월_평균'],
      dtype='object')

In [139]:
# dong.info()
# df[df.columns[:-1]] = df[df.columns[:-1]].astype(float)
dong[dong.columns[22:26]] = dong[dong.columns[22:26]].astype('int64')
# dong.info()

In [129]:
dong2=dong.merge(apt_st, on=['기준_년_분기_코드','상권_코드_명']).drop_duplicates()

In [133]:
# dong2.info()
dong2[dong2.columns[32:]] = dong2[dong2.columns[32:]].astype('int64')

In [138]:
# dong2.info()

In [135]:
dong2.columns

Index(['Unnamed: 0', '기준_년_분기_코드', '상권_구분_코드_명', '상권_코드_명', '시군구_코드_명',
       '행정동_코드_명', '서비스_업종_코드_명', '점포_수', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액',
       '주말_매출_금액', '남성_매출_금액', '여성_매출_금액', '유사_업종_점포_수', '프랜차이즈_점포_수',
       '개업_점포_수', '폐업_점포_수', '남성_유동인구_수', '여성_유동인구_수', '주중_유동인구_수',
       '주말_유동인구_수', '남성_상주인구_수', '여성_상주인구_수', '남성_직장_인구_수', '여성_직장_인구_수',
       '동_상권_변화지표', '동_영업_개월_평균', '동_폐업_개월_평균', '서울_영업_개월_평균', '서울_폐업_개월_평균',
       '상권_코드', '아파트_단지_수', '집객시설_수', '관공서_수', '은행_수', '종합병원_수', '일반_병원_수',
       '약국_수', '유치원_수', '초등학교_수', '중학교_수', '고등학교_수', '대학교_수', '백화점_수',
       '슈퍼마켓_수', '극장_수', '숙박_시설_수', '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수',
       '버스_정거장_수'],
      dtype='object')

In [136]:
dong2=dong2[['기준_년_분기_코드', '상권_구분_코드_명', '상권_코드_명', '시군구_코드_명',
       '행정동_코드_명', '서비스_업종_코드_명', '점포_수', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액',
       '주말_매출_금액', '남성_매출_금액', '여성_매출_금액', '유사_업종_점포_수', '프랜차이즈_점포_수',
       '개업_점포_수', '폐업_점포_수', '남성_유동인구_수', '여성_유동인구_수', '주중_유동인구_수',
       '주말_유동인구_수', '남성_상주인구_수', '여성_상주인구_수', '남성_직장_인구_수', '여성_직장_인구_수',
       '상권_코드', '아파트_단지_수', '집객시설_수', '관공서_수', '은행_수', '종합병원_수', '일반_병원_수',
       '약국_수', '유치원_수', '초등학교_수', '중학교_수', '고등학교_수', '대학교_수', '백화점_수',
       '슈퍼마켓_수', '극장_수', '숙박_시설_수', '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수',
       '버스_정거장_수','동_영업_개월_평균', '동_폐업_개월_평균', '서울_영업_개월_평균', '서울_폐업_개월_평균','동_상권_변화지표']]

In [140]:
dong2.to_csv('all_dong.csv', index=False)