In [1]:
import numpy as np
import pandas as pd
import random

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from fake_useragent import UserAgent

import time
import csv
import os

In [209]:
df = pd.read_excel('p_info.xlsx')
df.head()
df.iloc[1013: ][['id', 'name', 'birth']].values

array([[70345, '김성태', Timestamp('1982-01-03 00:00:00')],
       [70352, '이상현', Timestamp('1981-04-05 00:00:00')],
       [70356, '이동학', Timestamp('1981-05-06 00:00:00')],
       ...,
       [99742, '김병준', Timestamp('1977-04-01 00:00:00')],
       [99767, '전하진', Timestamp('1979-02-11 00:00:00')],
       [99846, '비아노', Timestamp('1973-09-04 00:00:00')]], dtype=object)

In [129]:
import cx_Oracle

In [130]:
connection = cx_Oracle.connect('hoseo', 'hoseo', 'localhost:1521/xe')
cursor = connection.cursor()

### 데이터를 웹에서 수집하여 DataBase로 저장하는 형식으로 구현하였습니다.
### 결측데이터는 수행과정에서 제외(삭제)하는 것으로 처리하였습니다.

In [ ]:
import numpy as np
import pandas as pd
import random

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from fake_useragent import UserAgent

import time
import csv
import os
import cx_Oracle

df = pd.read_excel('p_info.xlsx')
df.head()
df.iloc[['id', 'name', 'birth']].values

sql = """INSERT INTO PLAYER_RECORDS
        (PLAYER_ID, PLAY_YEAR, TEAMNAME, AGE, CHULJANG, WANTOO, WANBONG, SUNBAL, SEUNG, PAE, SE, HOLD, ENING, SILJEUM, JACHAEK, TAJA, ANTA, ETA, SAMTA, HOMERUN, BALLNET, GOSA,
        SAGU, SAMJIN, POKE, POKTOO, ERA, FIP, WHIP, ERA2, FIP2, WAR, WPA )
        VALUES ( :PLAYER_ID, :PLAY_YEAR, :TEAMNAME, :AGE, :CHULJANG, :WANTOO, :WANBONG, :SUNBAL, :SEUNG, :PAE, :SE, :HOLD, :ENING, :SILJEUM, :JACHAEK, :TAJA, :ANTA, :ETA, :SAMTA, :HOMERUN,
                 :BALLNET, :GOSA, :SAGU, :SAMJIN, :POKE, :POKTOO, :ERA, :FIP, :WHIP, :ERA2, :FIP2, :WAR, :WPA)
      """

connection = cx_Oracle.connect('hoseo', 'hoseo', 'localhost:1521/xe')
cursor = connection.cursor()

# 셀레니움 준비
path = r'D:\data-analysis\dev-tools\chromedriver.exe'
driver = webdriver.Chrome(executable_path=path)


ids = df['id']
ids = np.array(ids)

results2 = []

for a, b, c in df.iloc[1013: ][['id', 'name', 'birth']].values:
    c = str(c)
    c = c[:10]
    print(a, b, c)
    url = "http://www.statiz.co.kr/player.php?opt=1&name={}&birth={}"
    driver.get(url.format(b, c))

    #이상없음
    html = driver.page_source
    soup = BeautifulSoup(html, "html5lib")
    trs = soup.select("tbody tr")
    p_id = a
    # print(p_id)
    # print(trs)
    time.sleep(0.5)

    results = []
    for tr in trs:
        tds = tr.select("td")     
        #for idx in range(ids):    
        result = [a]
        if len(tds) != 32:
            pass
        else:    
            for td in tds:
                # print(span.get_text(), end=' ')
                result.append( td.text )                
                # print(result)
            results.append( result )
            test_df1 = pd.DataFrame(result)
            # 데이터 베이스 저장
            cursor.execute(sql, result)
            connection.commit()
        # time.sleep(0.5)
        # results_df = pd.DataFrame(results)
        # results_df.to_excel("results.xlsx")
    results = np.array(results)
    results2.append(results)
    print(results)
results2 = np.array(results2)
print(results2)

cursor.close()
connection.close()

In [1]:
import numpy as np
import pandas as pd
import random

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from fake_useragent import UserAgent

import time
import csv
import os
import cx_Oracle

In [10]:
df = pd.read_excel('data-files/p_info(missing).xlsx')
df['생년월일'].values

array(['1968-01-08T00:00:00.000000000', '1975-12-14T00:00:00.000000000',
       '1966-07-11T00:00:00.000000000', '1975-10-19T00:00:00.000000000',
       '1969-12-09T00:00:00.000000000', '1981-04-12T00:00:00.000000000',
       '2001-05-01T00:00:00.000000000', '1983-05-30T00:00:00.000000000',
       '1999-05-28T00:00:00.000000000', '1970-07-29T00:00:00.000000000',
       '2000-09-15T00:00:00.000000000', '1991-09-12T00:00:00.000000000',
       '1991-05-21T00:00:00.000000000', '1996-03-26T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [11]:
for a, b, c in df[['선수아이디', '이름', '틀린생년']].values:
    c = str(c)
    c = c[:10]
    print(a, b, c)

91899 박진석 1968-01-28
95665 이용훈 1977-08-24
71123 발데스 1966-11-06
73746 에스트라다 1975-02-19
74336 피어리 1968-12-09
75259 강관식 1984-04-12
50206 최종인 1988-08-02
64641 어센시오 1984-05-05
68220 곽빈 1999-04-14
89610 김정훈 1991-10-02
69745 김이환 2000-09-13
65398 임규빈 1991-09-21
69640 터너 1992-05-21
69134 이정용 1997-03-26

In [22]:
# 생년월일 다른 데이터 추가 작업

sql = """INSERT INTO RECORDS2
        (PLAYER_ID, PLAY_YEAR, TEAM_NAME, AGE, GP, CG, SO, GS, W, L, SV, HLD, IP,
        R, ER, BF, H, B2, B3, HR, BB, IBB, HBP, K, BK, WP, ERA, FIP, WHIP, ERA_PLUS, FIP_PLUS, WAR, WPA)
        VALUES (:PLAYER_ID, :PLAY_YEAR, :TEAM_NAME, :AGE, :GP, :CG, :SO, :GS, :W,
                :L, :SV, :HLD, :IP, :R, :ER, :BF, :H, :B2, :B3, :HR, :BB, :IBB, :HBP, :K, :BK, :WP, :ERA, :FIP, :WHIP, :ERA_PLUS, :FIP_PLUS, :WAR, :WPA)
      """

connection = cx_Oracle.connect('hoseo', 'hoseo', 'localhost:1521/xe')
cursor = connection.cursor()

# 셀레니움 준비
path = r'D:\data-analysis\dev-tools\chromedriver.exe'
driver = webdriver.Chrome(executable_path=path)


# ids = df['id']
# ids = np.array(ids)

results2 = []

for a, b, c in df[['선수아이디', '이름', '틀린생년']].values:
    c = str(c)
    c = c[:10]
    print(a, b, c)
    url = "http://www.statiz.co.kr/player.php?opt=1&name={}&birth={}"
    driver.get(url.format(b, c))

    #이상없음
    html = driver.page_source
    soup = BeautifulSoup(html, "html5lib")
    trs = soup.select("tbody tr")
    p_id = a
    # print(p_id)
    # print(trs)
    time.sleep(0.5)

    results = []
    for tr in trs:
        tds = tr.select("td")     
        #for idx in range(ids):    
        result = [a]
        if len(tds) != 32:
            pass
        else:    
            for td in tds:
                # print(span.get_text(), end=' ')
                result.append( td.text )                
                # print(result)
            results.append( result )
            test_df1 = pd.DataFrame(result)
            # 데이터 베이스 저장
            cursor.execute(sql, result)
            connection.commit()
        # time.sleep(0.5)
        # results_df = pd.DataFrame(results)
        # results_df.to_excel("results.xlsx")
    results = np.array(results)
    results2.append(results)
    print(results)
results2 = np.array(results2)
print(results2)

cursor.close()
connection.close()

91899 박진석 1968-01-28
[['91899' '1991' '쌍방울' '23' '30' '1' '0' '16' '8' '6' '1' '0' '108.2'
  '70' '60' '488' '136' '' '' '10' '41' '4' '5' '37' '2' '3' '4.97'
  '4.36' '1.63' '82.6' '94.0' '0.89' '']
 ['91899' '1992' '쌍방울' '24' '17' '1' '0' '13' '0' '8' '0' '0' '74.2' '62'
  '57' '347' '91' '' '' '11' '33' '3' '3' '36' '0' '2' '6.87' '5.06'
  '1.66' '63.6' '86.4' '-0.12' '']
 ['91899' '1994' '쌍방울' '26' '30' '1' '0' '14' '6' '5' '1' '0' '119.1'
  '63' '57' '524' '128' '' '' '18' '48' '0' '7' '61' '0' '3' '4.30'
  '5.13' '1.48' '87.1' '73.0' '0.59' '']
 ['91899' '1995' '쌍방울' '27' '30' '4' '0' '15' '3' '11' '4' '0' '114.0'
  '59' '52' '494' '125' '' '' '11' '39' '4' '4' '62' '0' '2' '4.11'
  '4.00' '1.44' '90.9' '93.3' '1.42' '']
 ['91899' '1996' '쌍방울' '28' '18' '0' '0' '11' '3' '2' '1' '0' '59.1' '24'
  '23' '257' '59' '' '' '2' '23' '0' '7' '29' '0' '3' '3.49' '3.77'
  '1.38' '105.6' '97.9' '1.10' '']
 ['91899' '1997' '쌍방울' '29' '11' '0' '0' '9' '2' '1' '0' '0' '29.1' '15'
  '15' '136' '36' '' '' '3' '15' '1' '3' '14' '0' '3' '4.60' '4.99'
  '1.74' '87.2' '80.5' '0.28' '']
 ['91899' '1998' '쌍방울' '30' '2' '0' '0' '1' '0' '1' '0' '0' '7.0' '6' '6'
  '34' '11' '' '' '1' '3' '0' '0' '4' '0' '0' '7.71' '4.90' '2.00' '51.5'
  '81.1' '-0.07' '']
 ['91899' '1999' '쌍방울' '31' '12' '0' '0' '1' '1' '1' '0' '0' '25.1' '13'
  '13' '103' '19' '' '' '5' '11' '0' '2' '21' '0' '1' '4.62' '5.72'
  '1.18' '106.8' '86.2' '0.43' '']
 ['91899' '2000' 'SK' '32' '21' '0' '0' '0' '0' '0' '0' '0' '38.0' '26'
  '24' '177' '60' '' '' '6' '7' '1' '2' '20' '0' '2' '5.68' '4.79' '1.76'
  '81.7' '96.9' '0.47' '']]
95665 이용훈 1977-08-24
[['95665' '2000' '삼성' '23' '33' '0' '0' '23' '9' '7' '0' '2' '139.0' '88'
  '87' '619' '146' '' '' '22' '72' '0' '11' '112' '3' '9' '5.63' '5.40'
  '1.57' '84.2' '87.8' '1.47' '']
 ['95665' '2001' '삼성' '24' '21' '0' '0' '16' '4' '4' '0' '0' '71.2' '53'
  '44' '335' '86' '' '' '9' '32' '1' '3' '45' '0' '3' '5.53' '4.91'
  '1.65' '87.0' '97.9' '0.67' '']
 ['95665' '2002' 'SK' '25' '17' '0' '0' '5' '2' '3' '0' '0' '41.2' '41'
  '40' '199' '51' '' '' '11' '20' '2' '5' '46' '0' '2' '8.64' '5.88'
  '1.70' '48.7' '71.5' '-0.48' '']
 ['95665' '2003' 'SK,롯데' '26' '8' '0' '0' '1' '0' '1' '0' '0' '13.0' '17'
  '16' '78' '25' '' '' '5' '14' '0' '2' '9' '0' '1' '11.08' '10.07'
  '3.00' '38.2' '41.9' '-0.53' '']
 ['95665' '' '롯데' '26' '7' '0' '0' '1' '0' '1' '0' '0' '10.0' '10' '9'
  '60' '17' '' '' '3' '13' '0' '2' '4' '0' '1' '8.10' '10.36' '3.00'
  '52.3' '40.9' '-0.29' '']
 ['95665' '' 'SK' '26' '1' '0' '0' '0' '0' '0' '0' '0' '3.0' '7' '7' '18'
  '8' '' '' '2' '1' '0' '0' '5' '0' '0' '21.00' '9.09' '3.00' '19.9'
  '45.9' '-0.16' '']
 ['95665' '2004' '롯데' '27' '15' '1' '0' '4' '1' '3' '0' '0' '33.2' '17'
  '15' '140' '28' '' '' '1' '10' '1' '4' '36' '1' '1' '4.01' '2.36'
  '1.13' '106.5' '181.4' '0.93' '']
 ['95665' '2005' '롯데' '28' '22' '0' '0' '19' '7' '9' '1' '0' '106.0' '63'
  '59' '461' '94' '' '' '12' '45' '2' '6' '106' '0' '3' '5.01' '3.87'
  '1.31' '82.2' '106.3' '1.52' '']
 ['95665' '2008' '롯데' '31' '21' '0' '0' '17' '6' '7' '0' '1' '99.0' '47'
  '45' '433' '117' '' '' '2' '41' '0' '2' '60' '1' '3' '4.09' '3.50'
  '1.60' '98.5' '115.0' '2.13' '']
 ['95665' '2009' '롯데' '32' '17' '0' '0' '16' '5' '7' '0' '0' '80.0' '60'
  '56' '363' '91' '' '' '13' '46' '4' '7' '35' '1' '2' '6.30' '6.26'
  '1.71' '76.0' '76.5' '0.18' '']
 ['95665' '2010' '롯데' '33' '7' '0' '0' '2' '0' '2' '0' '0' '16.1' '15'
  '15' '77' '27' '' '' '3' '4' '0' '1' '8' '0' '0' '8.27' '5.61' '1.90'
  '56.0' '82.4' '-0.03' '']
 ['95665' '2011' '롯데' '34' '4' '0' '0' '1' '0' '1' '0' '0' '4.0' '5' '5'
  '19' '9' '' '' '0' '0' '0' '0' '1' '0' '0' '11.25' '2.69' '2.25' '37.3'
  '155.9' '-0.05' '']
 ['95665' '2012' '롯데' '35' '25' '0' '0' '18' '8' '5' '1' '1' '101.2' '44'
  '34' '419' '102' '' '' '4' '25' '1' '3' '57' '0' '1' '3.01' '3.29'
  '1.25' '127.3' '116.5' '2.22' '']]
71123 발데스 1966-11-06
[['71123' '2001' 'LG' '35' '30' '0' '0' '29' '10' '9' '0' '0' '164.2'
  '93' '85' '740' '166' '' '' '16' '88' '2' '11' '80' '0' '6' '4.65'
  '5.17' '1.54' '98.8' '88.8' '2.08' '']]
73746 에스트라다 1975-02-19
[['73746' '2003' '한화' '28' '7' '1' '1' '6' '1' '3' '0' '0' '36.1' '22'
  '19' '157' '30' '' '' '9' '13' '1' '7' '26' '1' '1' '4.71' '6.12'
  '1.18' '92.3' '71.0' '0.15' '']]
74336 피어리 1968-12-09
[['74336' '2004' '현대' '36' '28' '0' '0' '28' '16' '6' '0' '0' '181.2'
  '73' '67' '759' '166' '' '' '24' '61' '0' '9' '130' '1' '1' '3.32'
  '4.39' '1.25' '130.5' '98.6' '4.24' '']]
75259 강관식 1984-04-12
[['75259' '2005' '두산' '21' '1' '0' '0' '0' '0' '0' '0' '0' '0.0' '0' '0'
  '1' '1' '' '' '0' '0' '0' '0' '0' '0' '0' '' '' '' '' '' '0.00' '']]
50206 최종인 1988-08-02
[['50206' '2007' 'LG' '19' '1' '0' '0' '0' '0' '0' '0' '0' '0.2' '3' '3'
  '6' '4' '' '' '0' '0' '0' '0' '0' '0' '0' '40.50' '2.83' '6.00' '9.6'
  '137.2' '-0.08' '']
 ['50206' '2008' 'LG' '20' '1' '0' '0' '0' '0' '0' '0' '0' '1.0' '0' '0'
  '6' '0' '' '' '0' '3' '0' '0' '0' '0' '0' '0.00' '12.15' '3.00' ''
  '33.7' '-0.00' '']]
64641 어센시오 1984-05-05
[['64641' '2014' 'KIA' '30' '46' '0' '0' '0' '4' '1' '20' '0' '46.2' '24'
  '21' '207' '49' '12' '1' '5' '14' '0' '2' '56' '0' '5' '4.05' '3.88'
  '1.35' '128.9' '137.0' '1.53' '0.10']]
68220 곽빈 1999-04-14
[['68220' '2018' '두산' '19' '32' '0' '0' '0' '3' '1' '1' '4' '31.0' '26'
  '26' '154' '44' '10' '0' '6' '17' '0' '3' '26' '0' '0' '7.55' '6.61'
  '1.97' '67.0' '75.6' '-0.36' '-0.11']]
89610 김정훈 1991-10-02
[['89610' '2010' '넥센' '19' '5' '0' '0' '0' '0' '0' '0' '0' '7.2' '8' '8'
  '36' '10' '' '' '1' '4' '0' '1' '5' '0' '1' '9.39' '5.63' '1.83' '48.4'
  '80.7' '-0.03' '']
 ['89610' '2012' '넥센' '21' '6' '0' '0' '0' '0' '0' '0' '0' '10.0' '8' '4'
  '45' '10' '' '' '1' '5' '1' '1' '7' '0' '2' '3.60' '4.50' '1.50'
  '106.5' '85.1' '0.02' '']
 ['89610' '2015' '넥센' '24' '13' '0' '0' '1' '0' '2' '0' '1' '15.1' '14'
  '12' '79' '20' '5' '0' '2' '10' '0' '3' '11' '0' '4' '7.04' '6.42'
  '1.96' '70.7' '77.3' '-0.12' '-0.53']
 ['89610' '2016' '넥센' '25' '34' '0' '0' '4' '1' '5' '0' '0' '63.1' '44'
  '37' '288' '71' '7' '2' '9' '29' '0' '6' '28' '0' '5' '5.26' '6.41'
  '1.58' '99.9' '80.6' '0.50' '-0.69']
 ['89610' '2017' '넥센' '26' '5' '0' '0' '0' '1' '0' '0' '0' '6.0' '8' '8'
  '32' '13' '2' '0' '1' '2' '0' '0' '5' '0' '0' '12.00' '5.24' '2.50'
  '41.4' '93.0' '-0.19' '-0.37']
 ['89610' '2018' 'NC' '27' '21' '0' '0' '9' '2' '3' '0' '0' '53.0' '38'
  '32' '247' '60' '11' '1' '7' '24' '0' '7' '39' '1' '3' '5.43' '5.83'
  '1.59' '95.5' '90.1' '0.07' '-0.73']
 ['89610' '2019' 'NC' '28' '44' '0' '0' '0' '0' '2' '0' '7' '51.1' '23'
  '21' '215' '49' '11' '0' '5' '16' '0' '4' '32' '0' '3' '3.68' '4.59'
  '1.27' '114.5' '91.9' '0.63' '0.66']
 ['89610' '2020' 'NC' '29' '15' '0' '0' '0' '1' '1' '0' '2' '12.1' '14'
  '14' '55' '11' '3' '0' '4' '9' '0' '1' '13' '0' '2' '10.22' '8.14'
  '1.62' '48.0' '60.3' '-0.40' '-0.72']]
69745 김이환 2000-09-13
[['69745' '2019' '한화' '19' '11' '0' '0' '8' '4' '3' '0' '0' '38.0' '19'
  '18' '171' '42' '9' '0' '2' '21' '0' '2' '15' '0' '1' '4.26' '5.11'
  '1.66' '97.2' '81.9' '0.50' '0.04']
 ['69745' '2020' '한화' '20' '6' '0' '0' '5' '1' '3' '0' '0' '23.2' '18'
  '18' '114' '27' '6' '0' '4' '19' '0' '1' '16' '0' '0' '6.85' '6.98'
  '1.94' '69.8' '69.4' '0.00' '-0.37']]
65398 임규빈 1991-09-21
[['65398' '2019' '키움' '28' '1' '0' '0' '0' '0' '0' '0' '0' '1.0' '0' '0'
  '4' '1' '1' '0' '0' '0' '0' '0' '2' '0' '0' '0.00' '-0.60' '1.00' ''
  '-686.3' '0.04' '0.00']
 ['65398' '2020' '키움' '29' '16' '0' '0' '0' '1' '0' '0' '1' '18.0' '9'
  '9' '77' '19' '5' '0' '5' '6' '0' '1' '10' '0' '1' '4.50' '7.27' '1.39'
  '105.5' '64.2' '0.29' '-0.18']]
69640 터너 1992-05-21
[['69640' '2019' 'KIA' '27' '28' '1' '0' '28' '7' '13' '0' '0' '153.1'
  '107' '94' '714' '179' '34' '3' '12' '58' '0' '17' '121' '0' '14'
  '5.52' '4.31' '1.55' '76.0' '97.2' '-0.52' '-1.58']]
69134 이정용 1997-03-26
[['69134' '2020' 'LG' '23' '10' '0' '0' '0' '2' '0' '0' '2' '11.0' '4'
  '4' '45' '8' '1' '0' '2' '4' '0' '1' '15' '1' '0' '3.27' '4.60' '1.09'
  '142.8' '99.6' '0.31' '0.37']]
[array([['91899', '1991', '쌍방울', '23', '30', '1', '0', '16', '8', '6',
        '1', '0', '108.2', '70', '60', '488', '136', '', '', '10', '41',
        '4', '5', '37', '2', '3', '4.97', '4.36', '1.63', '82.6', '94.0',
        '0.89', ''],
       ['91899', '1992', '쌍방울', '24', '17', '1', '0', '13', '0', '8',
        '0', '0', '74.2', '62', '57', '347', '91', '', '', '11', '33',
        '3', '3', '36', '0', '2', '6.87', '5.06', '1.66', '63.6', '86.4',
        '-0.12', ''],
       ['91899', '1994', '쌍방울', '26', '30', '1', '0', '14', '6', '5',
        '1', '0', '119.1', '63', '57', '524', '128', '', '', '18', '48',
        '0', '7', '61', '0', '3', '4.30', '5.13', '1.48', '87.1', '73.0',
        '0.59', ''],
       ['91899', '1995', '쌍방울', '27', '30', '4', '0', '15', '3', '11',
        '4', '0', '114.0', '59', '52', '494', '125', '', '', '11', '39',
        '4', '4', '62', '0', '2', '4.11', '4.00', '1.44', '90.9', '93.3',
        '1.42', ''],
       ['91899', '1996', '쌍방울', '28', '18', '0', '0', '11', '3', '2',
        '1', '0', '59.1', '24', '23', '257', '59', '', '', '2', '23',
        '0', '7', '29', '0', '3', '3.49', '3.77', '1.38', '105.6',
        '97.9', '1.10', ''],
       ['91899', '1997', '쌍방울', '29', '11', '0', '0', '9', '2', '1', '0',
        '0', '29.1', '15', '15', '136', '36', '', '', '3', '15', '1',
        '3', '14', '0', '3', '4.60', '4.99', '1.74', '87.2', '80.5',
        '0.28', ''],
       ['91899', '1998', '쌍방울', '30', '2', '0', '0', '1', '0', '1', '0',
        '0', '7.0', '6', '6', '34', '11', '', '', '1', '3', '0', '0',
        '4', '0', '0', '7.71', '4.90', '2.00', '51.5', '81.1', '-0.07',
        ''],
       ['91899', '1999', '쌍방울', '31', '12', '0', '0', '1', '1', '1', '0',
        '0', '25.1', '13', '13', '103', '19', '', '', '5', '11', '0',
        '2', '21', '0', '1', '4.62', '5.72', '1.18', '106.8', '86.2',
        '0.43', ''],
       ['91899', '2000', 'SK', '32', '21', '0', '0', '0', '0', '0', '0',
        '0', '38.0', '26', '24', '177', '60', '', '', '6', '7', '1', '2',
        '20', '0', '2', '5.68', '4.79', '1.76', '81.7', '96.9', '0.47',
        '']], dtype='<U11')
 array([['95665', '2000', '삼성', '23', '33', '0', '0', '23', '9', '7', '0',
        '2', '139.0', '88', '87', '619', '146', '', '', '22', '72', '0',
        '11', '112', '3', '9', '5.63', '5.40', '1.57', '84.2', '87.8',
        '1.47', ''],
       ['95665', '2001', '삼성', '24', '21', '0', '0', '16', '4', '4', '0',
        '0', '71.2', '53', '44', '335', '86', '', '', '9', '32', '1',
        '3', '45', '0', '3', '5.53', '4.91', '1.65', '87.0', '97.9',
        '0.67', ''],
       ['95665', '2002', 'SK', '25', '17', '0', '0', '5', '2', '3', '0',
        '0', '41.2', '41', '40', '199', '51', '', '', '11', '20', '2',
        '5', '46', '0', '2', '8.64', '5.88', '1.70', '48.7', '71.5',
        '-0.48', ''],
       ['95665', '2003', 'SK,롯데', '26', '8', '0', '0', '1', '0', '1',
        '0', '0', '13.0', '17', '16', '78', '25', '', '', '5', '14', '0',
        '2', '9', '0', '1', '11.08', '10.07', '3.00', '38.2', '41.9',
        '-0.53', ''],
       ['95665', '', '롯데', '26', '7', '0', '0', '1', '0', '1', '0', '0',
        '10.0', '10', '9', '60', '17', '', '', '3', '13', '0', '2', '4',
        '0', '1', '8.10', '10.36', '3.00', '52.3', '40.9', '-0.29', ''],
       ['95665', '', 'SK', '26', '1', '0', '0', '0', '0', '0', '0', '0',
        '3.0', '7', '7', '18', '8', '', '', '2', '1', '0', '0', '5', '0',
        '0', '21.00', '9.09', '3.00', '19.9', '45.9', '-0.16', ''],
       ['95665', '2004', '롯데', '27', '15', '1', '0', '4', '1', '3', '0',
        '0', '33.2', '17', '15', '140', '28', '', '', '1', '10', '1',
        '4', '36', '1', '1', '4.01', '2.36', '1.13', '106.5', '181.4',
        '0.93', ''],
       ['95665', '2005', '롯데', '28', '22', '0', '0', '19', '7', '9', '1',
        '0', '106.0', '63', '59', '461', '94', '', '', '12', '45', '2',
        '6', '106', '0', '3', '5.01', '3.87', '1.31', '82.2', '106.3',
        '1.52', ''],
       ['95665', '2008', '롯데', '31', '21', '0', '0', '17', '6', '7', '0',
        '1', '99.0', '47', '45', '433', '117', '', '', '2', '41', '0',
        '2', '60', '1', '3', '4.09', '3.50', '1.60', '98.5', '115.0',
        '2.13', ''],
       ['95665', '2009', '롯데', '32', '17', '0', '0', '16', '5', '7', '0',
        '0', '80.0', '60', '56', '363', '91', '', '', '13', '46', '4',
        '7', '35', '1', '2', '6.30', '6.26', '1.71', '76.0', '76.5',
        '0.18', ''],
       ['95665', '2010', '롯데', '33', '7', '0', '0', '2', '0', '2', '0',
        '0', '16.1', '15', '15', '77', '27', '', '', '3', '4', '0', '1',
        '8', '0', '0', '8.27', '5.61', '1.90', '56.0', '82.4', '-0.03',
        ''],
       ['95665', '2011', '롯데', '34', '4', '0', '0', '1', '0', '1', '0',
        '0', '4.0', '5', '5', '19', '9', '', '', '0', '0', '0', '0', '1',
        '0', '0', '11.25', '2.69', '2.25', '37.3', '155.9', '-0.05', ''],
       ['95665', '2012', '롯데', '35', '25', '0', '0', '18', '8', '5', '1',
        '1', '101.2', '44', '34', '419', '102', '', '', '4', '25', '1',
        '3', '57', '0', '1', '3.01', '3.29', '1.25', '127.3', '116.5',
        '2.22', '']], dtype='<U11')
 array([['71123', '2001', 'LG', '35', '30', '0', '0', '29', '10', '9',
        '0', '0', '164.2', '93', '85', '740', '166', '', '', '16', '88',
        '2', '11', '80', '0', '6', '4.65', '5.17', '1.54', '98.8',
        '88.8', '2.08', '']], dtype='<U11')
 array([['73746', '2003', '한화', '28', '7', '1', '1', '6', '1', '3', '0',
        '0', '36.1', '22', '19', '157', '30', '', '', '9', '13', '1',
        '7', '26', '1', '1', '4.71', '6.12', '1.18', '92.3', '71.0',
        '0.15', '']], dtype='<U11')
 array([['74336', '2004', '현대', '36', '28', '0', '0', '28', '16', '6',
        '0', '0', '181.2', '73', '67', '759', '166', '', '', '24', '61',
        '0', '9', '130', '1', '1', '3.32', '4.39', '1.25', '130.5',
        '98.6', '4.24', '']], dtype='<U11')
 array([['75259', '2005', '두산', '21', '1', '0', '0', '0', '0', '0', '0',
        '0', '0.0', '0', '0', '1', '1', '', '', '0', '0', '0', '0', '0',
        '0', '0', '', '', '', '', '', '0.00', '']], dtype='<U11')
 array([['50206', '2007', 'LG', '19', '1', '0', '0', '0', '0', '0', '0',
        '0', '0.2', '3', '3', '6', '4', '', '', '0', '0', '0', '0', '0',
        '0', '0', '40.50', '2.83', '6.00', '9.6', '137.2', '-0.08', ''],
       ['50206', '2008', 'LG', '20', '1', '0', '0', '0', '0', '0', '0',
        '0', '1.0', '0', '0', '6', '0', '', '', '0', '3', '0', '0', '0',
        '0', '0', '0.00', '12.15', '3.00', '', '33.7', '-0.00', '']],
      dtype='<U11')
 array([['64641', '2014', 'KIA', '30', '46', '0', '0', '0', '4', '1',
        '20', '0', '46.2', '24', '21', '207', '49', '12', '1', '5', '14',
        '0', '2', '56', '0', '5', '4.05', '3.88', '1.35', '128.9',
        '137.0', '1.53', '0.10']], dtype='<U11')
 array([['68220', '2018', '두산', '19', '32', '0', '0', '0', '3', '1', '1',
        '4', '31.0', '26', '26', '154', '44', '10', '0', '6', '17', '0',
        '3', '26', '0', '0', '7.55', '6.61', '1.97', '67.0', '75.6',
        '-0.36', '-0.11']], dtype='<U11')
 array([['89610', '2010', '넥센', '19', '5', '0', '0', '0', '0', '0', '0',
        '0', '7.2', '8', '8', '36', '10', '', '', '1', '4', '0', '1',
        '5', '0', '1', '9.39', '5.63', '1.83', '48.4', '80.7', '-0.03',
        ''],
       ['89610', '2012', '넥센', '21', '6', '0', '0', '0', '0', '0', '0',
        '0', '10.0', '8', '4', '45', '10', '', '', '1', '5', '1', '1',
        '7', '0', '2', '3.60', '4.50', '1.50', '106.5', '85.1', '0.02',
        ''],
       ['89610', '2015', '넥센', '24', '13', '0', '0', '1', '0', '2', '0',
        '1', '15.1', '14', '12', '79', '20', '5', '0', '2', '10', '0',
        '3', '11', '0', '4', '7.04', '6.42', '1.96', '70.7', '77.3',
        '-0.12', '-0.53'],
       ['89610', '2016', '넥센', '25', '34', '0', '0', '4', '1', '5', '0',
        '0', '63.1', '44', '37', '288', '71', '7', '2', '9', '29', '0',
        '6', '28', '0', '5', '5.26', '6.41', '1.58', '99.9', '80.6',
        '0.50', '-0.69'],
       ['89610', '2017', '넥센', '26', '5', '0', '0', '0', '1', '0', '0',
        '0', '6.0', '8', '8', '32', '13', '2', '0', '1', '2', '0', '0',
        '5', '0', '0', '12.00', '5.24', '2.50', '41.4', '93.0', '-0.19',
        '-0.37'],
       ['89610', '2018', 'NC', '27', '21', '0', '0', '9', '2', '3', '0',
        '0', '53.0', '38', '32', '247', '60', '11', '1', '7', '24', '0',
        '7', '39', '1', '3', '5.43', '5.83', '1.59', '95.5', '90.1',
        '0.07', '-0.73'],
       ['89610', '2019', 'NC', '28', '44', '0', '0', '0', '0', '2', '0',
        '7', '51.1', '23', '21', '215', '49', '11', '0', '5', '16', '0',
        '4', '32', '0', '3', '3.68', '4.59', '1.27', '114.5', '91.9',
        '0.63', '0.66'],
       ['89610', '2020', 'NC', '29', '15', '0', '0', '0', '1', '1', '0',
        '2', '12.1', '14', '14', '55', '11', '3', '0', '4', '9', '0',
        '1', '13', '0', '2', '10.22', '8.14', '1.62', '48.0', '60.3',
        '-0.40', '-0.72']], dtype='<U11')
 array([['69745', '2019', '한화', '19', '11', '0', '0', '8', '4', '3', '0',
        '0', '38.0', '19', '18', '171', '42', '9', '0', '2', '21', '0',
        '2', '15', '0', '1', '4.26', '5.11', '1.66', '97.2', '81.9',
        '0.50', '0.04'],
       ['69745', '2020', '한화', '20', '6', '0', '0', '5', '1', '3', '0',
        '0', '23.2', '18', '18', '114', '27', '6', '0', '4', '19', '0',
        '1', '16', '0', '0', '6.85', '6.98', '1.94', '69.8', '69.4',
        '0.00', '-0.37']], dtype='<U11')
 array([['65398', '2019', '키움', '28', '1', '0', '0', '0', '0', '0', '0',
        '0', '1.0', '0', '0', '4', '1', '1', '0', '0', '0', '0', '0',
        '2', '0', '0', '0.00', '-0.60', '1.00', '', '-686.3', '0.04',
        '0.00'],
       ['65398', '2020', '키움', '29', '16', '0', '0', '0', '1', '0', '0',
        '1', '18.0', '9', '9', '77', '19', '5', '0', '5', '6', '0', '1',
        '10', '0', '1', '4.50', '7.27', '1.39', '105.5', '64.2', '0.29',
        '-0.18']], dtype='<U11')
 array([['69640', '2019', 'KIA', '27', '28', '1', '0', '28', '7', '13',
        '0', '0', '153.1', '107', '94', '714', '179', '34', '3', '12',
        '58', '0', '17', '121', '0', '14', '5.52', '4.31', '1.55',
        '76.0', '97.2', '-0.52', '-1.58']], dtype='<U11')
 array([['69134', '2020', 'LG', '23', '10', '0', '0', '0', '2', '0', '0',
        '2', '11.0', '4', '4', '45', '8', '1', '0', '2', '4', '0', '1',
        '15', '1', '0', '3.27', '4.60', '1.09', '142.8', '99.6', '0.31',
        '0.37']], dtype='<U11')]

d:\data-ananlsis\Miniconda3\envs\hoseo\lib\site-packages\ipykernel_launcher.py:62: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

In [21]:
cursor.close()
connection.close()

InterfaceError: not open

In [ ]:
PLAYER_ID, PLAY_YEAR, TEAM_NAME, AGE, GP, CG, SO, GS, W, L, SV, HLD, IP, R, ER, BF, H, B2, B3, HR, BB, IBB, HBP, K, BK, WP, ERA, FIP, WHIP, ERA_PLUS,