In [2]:
import numpy as np
import pandas as pd

import cx_Oracle

In [11]:
connection = cx_Oracle.connect("hr3", "hoseo","localhost:1521/xe") # 사용자이름, 비번, 서버위치
cursor = connection.cursor()  # cursor : 명령 처리기

In [22]:
cursor.execute("create table navernews(no number primary key, title varchar2(20), link varchar2(50),regdate date, content varchar2(500))")   # oracle create table

In [14]:
cursor.execute("create table contact(c_no number primary key,c_name varchar2(50 char) not null,c_phone varchar2(20 char) not null,c_email varchar2(50 char) null,c_regdate date default (sysdate))")