In [2]:
# !pip install bs4
# !pip install lxml
# !pip install html5lib

In [3]:
from bs4 import BeautifulSoup

In [4]:
html_doc = """
<html><head><title>The Dormouse's story</title></head>

<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

In [9]:
soup = BeautifulSoup(html_doc, "html5lib")

In [10]:
soup.prettify() #원본 HTML을 표시

'<html>\n <head>\n  <title>\n   The Dormouse\'s story\n  </title>\n </head>\n <body>\n  <p class="title">\n   <b>\n    The Dormouse\'s story\n   </b>\n  </p>\n  <p class="story">\n   Once upon a time there were three little sisters; and their names were\n   <a class="sister" href="http://example.com/elsie" id="link1">\n    Elsie\n   </a>\n   ,\n   <a class="sister" href="http://example.com/lacie" id="link2">\n    Lacie\n   </a>\n   and\n   <a class="sister" href="http://example.com/tillie" id="link3">\n    Tillie\n   </a>\n   ;\nand they lived at the bottom of a well.\n  </p>\n  <p class="story">\n   ...\n  </p>\n </body>\n</html>'

In [31]:
soup.title
soup.title.name
soup.title.text
soup.title.string
# soup.b
soup.p.name
soup.p.text
soup.p['class']
soup.a #기본적으로 여러개 있더라도 첫번쨰것만 온다.
soup.a.attrs

{'href': 'http://example.com/elsie', 'class': ['sister'], 'id': 'link1'}

In [32]:
# soup.find_all('a')
# soup.find('a')
links = soup.find_all('a')
for link in links:
    print(link.attrs['href'])

http://example.com/elsie
http://example.com/lacie
http://example.com/tillie

In [33]:
soup.get_text()

"The Dormouse's story\n\nThe Dormouse's story\n\nOnce upon a time there were three little sisters; and their names were\nElsie,\nLacie and\nTillie;\nand they lived at the bottom of a well.\n\n...\n"

In [20]:
from selenium import webdriver

In [22]:
browser = webdriver.Chrome(r'D:\yun\dev-tools\chromedriver.exe')

In [23]:
browser.get("https://datalab.naver.com/keyword/realtimeList.naver?entertainment=2&groupingLevel=4&marketing=2&news=2&sports=2&where=main")

In [14]:
import time
import requests   # urllib / 앱 요청
from bs4 import BeautifulSoup

In [ ]:
# BeautifulSoup(browser.page_source, "html.parser")

In [ ]:
# resp = requests.get("https://datalab.naver.com/keyword/realtimeList.naver?entertainment=2&groupingLevel=4&marketing=2&news=2&sports=2&where=main")

In [24]:
soup = BeautifulSoup(browser.page_source, 'html.parser')

In [25]:
# ranks = soup.select("#NM_RTK_VIEW_list_wrap ul li a strong")
# keywords = soup.select("#NM_RTK_VIEW_list_wrap ul li a span")
ranks = soup.select("div.ranking_box ul li span.item_num")
keywords = soup.select("div.ranking_box ul li span.item_title")

In [37]:
# ranks[:2]
ranks[2].text
# ranks
# keywords

'3'

In [36]:
for rank, keyword in zip(ranks, keywords):
    print("[{0}].[{1}]".format(rank.text, keyword.text))

[1].[아토오겔]
[2].[편의점 비말마스크]
[3].[로스트아크]
[4].[경기도 청소년 교통비 지원]
[5].[우아한 거짓말]
[6].[아리따움 색다른 초대전]
[7].[윤기원]
[8].[강경헌]
[9].[라이프치히]
[10].[아이비 아하]
[11].[송지아]
[12].[이인영]
[13].[코로나 치료제]
[14].[미스터 기간제]
[15].[평택 고덕 호반써밋2차]
[16].[임종석]
[17].[도리화가]
[18].[에바]
[19].[폴더버거]
[20].[배달해서 먹힐까]

In [38]:
browser.quit()

In [ ]:
# 동행복권 https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917 
# 위 주소에서 917회차 당첨번호(보너스포함)를 추출해서 리스트에 저장하세요.
# requests 모듈과 BeatifulSoup 모듈을 사용하세요

In [ ]:
# 동행복권 https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917 
# 위 주소에서 1회 ~ 917회차 당첨번호(보너스포함)를 추출해서 데이터프레임에 저장하세요.
# 데이터프레임은 행: 회차번호 , 열: 순서번호
# requests 모듈과 BeatifulSoup 모듈을 사용하세요

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import time
import requests  
from bs4 import BeautifulSoup

In [15]:
req = requests.get('https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917')

In [16]:
lotto=req.text

In [17]:
soup = BeautifulSoup(lotto, 'html.parser')

In [70]:
numbers = soup.select(".content_winnum_645 .win_result .nums .num p span")

In [ ]:
type(numbers)   # 타입이 무엇인지 확인후 진행하는게 좋다.

In [82]:
numbers[0].text

'1'

In [101]:
for number in numbers:
    print(number.text)

1
3
23
24
27
43
34

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import requests 
from bs4 import BeautifulSoup

In [19]:
resp = requests.get('https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917')

soup = BeautifulSoup(resp.text, "html.parser")

num_wins = soup.select('div.nums .num.win span')
num_bonus = soup.select('div.nums .num.bonus span')

winning_numbers = []
for num_win in num_wins:
    winning_numbers.append(int(num_win.text))
winning_numbers.append(int(num_bonus[0].text))

winning_numbers

[1, 3, 23, 24, 27, 43, 34]

In [20]:
url = 'https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo={0}'
all_winning_numbers = {}
# for rnd in range(1, 917 + 1):       
for rnd in range(910, 917 + 1):
    resp = requests.get(url.format(rnd))
    soup = BeautifulSoup(resp.text, "html.parser")

    num_wins = soup.select('div.nums .num.win span')   #span테그만 읽어온다.
    num_bonus = soup.select('div.nums .num.bonus span')

    winning_numbers = []
    for num_win in num_wins:
        winning_numbers.append(int(num_win.text))
    winning_numbers.append(int(num_bonus[0].text))

    all_winning_numbers[rnd] = winning_numbers    #1회차 -> 리스트 / 2회차 -> 리스트 .. 이렇게 나열

    time.sleep(0.5)

In [21]:
# all_winning_numbers
all_winning_numbers_df = \
    pd.DataFrame(all_winning_numbers.values(), 
                 columns=['num1', 'num2', 'num3', 
                        'num4', 'num5', 'num6', 'bonus'],
                 index=[str(rndx)+'회차'for rndx in all_winning_numbers.keys()])
# all_winning_numbers_df.T    # .T :행과 열 위치 바꿈
all_winning_numbers_df

       num1  num2  num3  num4  num5  num6  bonus
910회차     1    11    17    27    35    39     31
911회차     4     5    12    14    32    42     35
912회차     5     8    18    21    22    38     10
913회차     6    14    16    21    27    37     40
914회차    16    19    24    33    42    44     27
915회차     2     6    11    13    22    37     14
916회차     6    21    22    32    35    36     17
917회차     1     3    23    24    27    43     34