In [ ]:
# 동행복권 https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917 
# 위 주소에서 917회차 당첨번호(보너스포함)를 추출해서 리스트에 저장하세요.
# requests 모듈과 BeatifulSoup 모듈을 사용하세요

In [ ]:
# 동행복권 https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917 
# 위 주소에서 1회 ~ 917회차 당첨번호(보너스포함)를 추출해서 데이터프레임에 저장하세요.
# 데이터프레임은 행: 회차번호 , 열: 순서번호
# requests 모듈과 BeatifulSoup 모듈을 사용하세요

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import time
import requests  
from bs4 import BeautifulSoup

In [2]:
req = requests.get('https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917')

In [3]:
lotto=req.text
soup = BeautifulSoup(lotto, 'html.parser')

In [26]:
numbers = soup.select('.win_result .nums .num p span')

In [27]:
type(numbers)

bs4.element.ResultSet

In [28]:
numbers

[<span class="ball_645 lrg ball1">7</span>,
 <span class="ball_645 lrg ball2">12</span>,
 <span class="ball_645 lrg ball2">16</span>,
 <span class="ball_645 lrg ball4">34</span>,
 <span class="ball_645 lrg ball5">42</span>,
 <span class="ball_645 lrg ball5">45</span>,
 <span class="ball_645 lrg ball1">4</span>]

In [29]:
numbers[0].text

'7'

In [7]:
winning_numbers = []
for number in numbers:
    winning_numbers.append(int(number.text))
winning_numbers

[1, 3, 23, 24, 27, 43, 34]

In [8]:
url = 'https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo={0}'
all_win_num = {}
for num in range(196, 197+1):
    req = requests.get(url.format(num))
    soup = BeautifulSoup(req.text, "html.parser")

    numbers = soup.select(".content_winnum_645 .win_result .nums .num p span")
    
    winning_numbers = []
    for number in numbers:
        winning_numbers.append(int(number.text))
        
    all_win_num[num] = winning_numbers

    time.sleep(0.5)

In [9]:
all_win_num_df = pd.DataFrame(all_win_num.values(), 
                              index=[str(num)+'회차'for num in all_win_num.keys()], 
                              columns=['num1', 'num2', 'num3','num4', 'num5', 'num6', 'bonus'])
all_win_num_df

       num1  num2  num3  num4  num5  num6  bonus
196회차    35    36    37    41    44    45     30
197회차     7    12    16    34    42    45      4