In [1]:
# !conda info --envs
# !pip install pandas

In [2]:
import numpy as np
import pandas as pd    
# form pandas import Series, DataFrame 이렇게 할수도 있음.

In [3]:
sa = pd.Series()
sa

C:\ProgramData\Miniconda3\envs\hoseo\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [4]:
# sb = pd.Series(np.array(['a', 'b', 'c', 'd']))
sb = pd.Series(np.array(['a', 'b', 'c', 'd']),
               index = ['o', 'p', 'q', 'r'])
#sb = pd.Series(np.array(['a', 'b', 'c', 'd']),
#               index = ['o', 'p', 'q', 'r', 's'])  ##데이터 / 인덱스 수 같지 않으면 error
sb

o    a
p    b
q    c
r    d
dtype: object

In [5]:
# sc = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4} )
# sc = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4},
#               index = ['d','c','b','a'])
sc = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4},
              index = ['d','c','b','a','o'])         #인덱스5개, 데이터4개 -> 빈데이터 Nan이라 뜬다. (Series랑 다르게 오류가 안뜨고 Nan으로 뜬다.)
sc

d    4.0
c    3.0
b    2.0
a    1.0
o    NaN
dtype: float64

In [6]:
sd = pd.Series(np.arange(1,6),
               index = list('abcde'))
# sd
print(sd['c'])
print(sd[1])  # Series는 index가 지정되어도 순서번호로 데이터를 읽을 수 있다.
print(sd['c':'e'])  # index로 slicing -> [from , to] -> 마지막 요소 포함
print(sd[1:3])  # 순서번호로 slicing -> [from , to] ->마지막요소 포함x
print(sd[['a','d','e']])
# print(sd['f']) # 없는 키를 사용하면 error.

3
2
c    3
d    4
e    5
dtype: int32
b    2
c    3
dtype: int32
a    1
d    4
e    5
dtype: int32

In [7]:
data = [1,2,3,4,5] 
dfa = pd.DataFrame(data) 
print(dfa)

0
0  1
1  2
2  3
3  4
4  5

In [8]:
data = [['Alex',10],['Bob',12],['Clarke',13]] 
# dfb = pd.DataFrame(data)
dfb = pd.DataFrame(data,columns=['Name','Age'],dtype=float) 
print(dfb)

Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [9]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
        'Age':[28,34,29,42]} 
# dfc = pd.DataFrame(data) 
dfc = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4']) 
print(dfc)

Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [10]:
data = [{'a': 1, 'b': 2},
        {'a': 5, 'b': 10, 'c': 20}] 
dfd = pd.DataFrame(data) 
print(dfd)

a   b     c
0  1   2   NaN
1  5  10  20.0

In [11]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
dfe1 = pd.DataFrame(data, 
                    index=['first', 'second'], 
                    columns=['a', 'b']) 
dfe2 = pd.DataFrame(data, 
                    index=['first', 'second'], 
                    columns=['a', 'b1'])
print(dfe1)  
print(dfe2)

a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [12]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
dff = pd.DataFrame(d) 
print(dff)

one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [13]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
dfg = pd.DataFrame(d) 
# print(dfg['one'])  #컬럼 이름으로 인덱싱
print(dfg.one)
# print(dfg['one':'two']) #dataFrame 에서는 슬라이싱 지원하지 않는다. 
print(dfg[['one','two']])

print("*"*20)

print(dfg[0:2])  # 숫자로 슬라이싱하면 행 기준 슬라이싱
# print(dfg[0])      # indexing은 항상 열 기준


print("*"*20)

dfg['three'] = pd.Series([10,20,30], index=['a','b','c']) 
print(dfg)
dfg['four'] = dfg['one'] + dfg['three'] 
print(dfg)

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
********************
   one  two
a  1.0    1
b  2.0    2
********************
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [14]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])} 

dfh = pd.DataFrame(d) 
print(dfh)

del dfh['one']
print(dfh)
dfh.pop('two')
print(dfh)

one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [15]:
# loc [행 index, 열column] : 이름으로 접근하는 방식  // 행을 먼저 찾고 열을 찾는다. // 이름으로 오는건 a : b -> b까지 불러온다.
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
     'three' : pd.Series([10,20,30], index=['a','b','c'])} 
dfi = pd.DataFrame(d) 
# print(dfi)
# print('*'*20)
# print(dfi.loc['b'])
# print(dfi.loc['b', 'two'])
# print(dfi.loc['a':'c', 'two'])
# print(dfi.loc['a', 'one':'two'])
# print(dfi.loc[:, 'one':'two'])   #모든행의 one two를 가지고 와라.
print(dfi.loc[:,['one','two']])

one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [16]:
# iloc [행, 열] : 순서번호로 접근하는 방식    
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
     'three' : pd.Series([10,20,30], index=['a','b','c'])} 
dfi = pd.DataFrame(d) 
# print(dfi)
# print('*'*20)
# print(dfi.iloc[1])
# print(dfi.iloc[1, 1])
# print(dfi.iloc[0:3, 1])
# print(dfi.iloc[0, 0:2])
# print(dfi.iloc[:, 0:2])   #모든행의 one two를 가지고 와라.
print(dfi.iloc[:,[0,1]])

one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [17]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b']) 
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
print(df)
print('*'*20)
# df = df.drop(0)    
# df = df.drop('a')    ## 열로는 drop 안된다.
df = df.drop('a', axis = 1)  #★★★ axis :방향 (축정보) -> 0 :행방향, 1:열 방향
print(df)

a  b
0  1  2
1  3  4
0  5  6
1  7  8
********************
   b
0  2
1  4
0  6
1  8

In [18]:
# !pip install lxml
# !pip install html5lib
# !pip install bs4  # bs4 = beautifulsoup4
# !pip install openpyxl

In [19]:
import pandas as pd

lst=pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table')

In [20]:
# print(lst)
# type(lst)
df = lst[1]   #1번쨰 table을 가져 온다.
df.head()  # 상위 5개의 행을 가져오기.

        Unnamed: 0_level_0 Summer Games                                        \
           Team (IOC code)            № Unnamed: 2_level_1 Unnamed: 3_level_1
0        Afghanistan (AFG)           14                  0                  0
1            Algeria (ALG)           13                  5                  4
2          Argentina (ARG)           24                 21                 25
3            Armenia (ARM)            6                  2                  6
4  Australasia (ANZ) [ANZ]            2                  3                  4

                           Winter Games                                        \
  Unnamed: 4_level_1 Total            № Unnamed: 7_level_1 Unnamed: 8_level_1
0                  2     2            0                  0                  0
1                  8    17            3                  0                  0
2                 28    74           19                  0                  0
3                  6    14            7                  0                  0
4                  5    12            0                  0                  0

                           Combined Total                      \
  Unnamed: 9_level_1 Total              № Unnamed: 12_level_1
0                  0     0             14                   0
1                  0     0             16                   5
2                  0     0             43                  21
3                  0     0             13                   2
4                  0     0              2                   3


  Unnamed: 13_level_1 Unnamed: 14_level_1 Total
0                   0                   2     2
1                   4                   8    17
2                  25                  28    74
3                   6                   6    14
4                   4                   5    12

In [21]:
# df.columns
# df.index

In [26]:
summer = df.iloc[:, :6]
summer.head()

        Unnamed: 0_level_0 Summer Games                                        \
           Team (IOC code)            № Unnamed: 2_level_1 Unnamed: 3_level_1
0        Afghanistan (AFG)           14                  0                  0
1            Algeria (ALG)           13                  5                  4
2          Argentina (ARG)           24                 21                 25
3            Armenia (ARM)            6                  2                  6
4  Australasia (ANZ) [ANZ]            2                  3                  4


  Unnamed: 4_level_1 Total
0                  2     2
1                  8    17
2                 28    74
3                  6    14
4                  5    12

In [ ]:
columns =['country', 'games', 'gold', 'silver', 'bronze', 'total']
summer.columns = columns
summer.head()

In [29]:
summer2 = summer.set_index(['country'])  #지정된 컬럼을 인덱스로 사용. index를 나라 이름으로 바꾼것임.
summer2.index.name = None    # None 없앤다는 의미
summer2.head()

                         games  gold  silver  bronze  total
Afghanistan (AFG)           14     0       0       2      2
Algeria (ALG)               13     5       4       8     17
Argentina (ARG)             24    21      25      28     74
Armenia (ARM)                6     2       6       6     14
Australasia (ANZ) [ANZ]      2     3       4       5     12

In [31]:
# 위 작업을 다른 방식으로 처리
lst=pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table', 
                 index_col=0)  #  index_col=0 : 표 0번쨰에 있는걸 index로 사용 하겠다.  
summer = lst[1].iloc[:, :5]
columns =['games', 'gold', 'silver', 'bronze', 'total']
summer.columns = columns
summer.head()

                         games  gold  silver  bronze  total
Afghanistan (AFG)           14     0       0       2      2
Algeria (ALG)               13     5       4       8     17
Argentina (ARG)             24    21      25      28     74
Armenia (ARM)                6     2       6       6     14
Australasia (ANZ) [ANZ]      2     3       4       5     12

In [33]:
summer["gold"].sum() , summer["gold"].mean() , summer['gold'].max(), summer['gold'].min()

(10230, 66.86274509803921, 5115, 0)

In [35]:
# summer[ summer['gold'] == 5115 ]
# summer.shape
# summer2 = summer.drop('Totals')
summer2 = summer.iloc[:-1, :]
summer2.iloc[150:]

,games,gold,silver,bronze,total
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3
Mixed team (ZZX) [ZZX],3,8,5,4,17

In [37]:
summer2["gold"].sum() , summer2["gold"].mean() , summer2['gold'].max(), summer2['gold'].min()

(5115, 33.651315789473685, 1022, 0)

In [39]:
summer2[ summer2['gold']==1022]

                                         games  gold  silver  bronze  total
United States (USA) [P] [Q] [R] [Z] [F]     27  1022     795     706   2523

In [41]:
summer2['gold']==1022

Afghanistan (AFG)                               False
Algeria (ALG)                                   False
Argentina (ARG)                                 False
Armenia (ARM)                                   False
Australasia (ANZ) [ANZ]                         False
                                                ...
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                            False
Independent Olympic Athletes (IOA) [IOA]        False
Independent Olympic Participants (IOP) [IOP]    False
Mixed team (ZZX) [ZZX]                          False
Name: gold, Length: 152, dtype: bool

In [43]:
summer2[ summer2['gold']==0]

,games,gold,silver,bronze,total
Afghanistan (AFG),14,0,0,2,2
Barbados (BAR) [BAR],12,0,0,1,1
Bermuda (BER),18,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4
Botswana (BOT),10,0,1,0,1
British West Indies (BWI) [BWI],1,0,0,2,2
Cyprus (CYP),10,0,1,0,1
Djibouti (DJI) [B],8,0,0,1,1
Eritrea (ERI),5,0,0,1,1
Gabon (GAB),10,0,1,0,1
Ghana (GHA) [GHA],14,0,1,3,4
Guatemala (GUA),14,0,1,0,1
Guyana (GUY) [GUY],17,0,0,1,1
Haiti (HAI) [J],15,0,1,1,2
Iceland (ISL),20,0,2,2,4
Iraq (IRQ),14,0,0,1,1
Kuwait (KUW),12,0,0,2,2
Kyrgyzstan (KGZ),6,0,1,3,4
Lebanon (LIB),17,0,2,2,4
Liechtenstein (LIE),17,0,0,0,0
Malaysia (MAS) [MAS],13,0,7,4,11
Mauritius (MRI),9,0,0,1,1
Moldova (MDA),6,0,2,3,5
Montenegro (MNE),3,0,1,0,1
Namibia (NAM),7,0,4,0,4
Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1
Niger (NIG),12,0,1,1,2
North Macedonia (MKD),6,0,0,1,1
Paraguay (PAR),12,0,1,0,1
Philippines (PHI),21,0,3,7,10
Qatar (QAT),9,0,1,4,5
Olympic Athletes from Russia (OAR) [OAR],0,0,0,0,0
Saudi Arabia (KSA),11,0,1,2,3
Samoa (SAM),9,0,1,0,1
Senegal (SEN),14,0,1,0,1
Serbia and Montenegro (SCG) [SCG],1,0,2,0,2
Sri Lanka (SRI) [SRI],17,0,2,0,2
Sudan (SUD),12,0,1,0,1
Tanzania (TAN) [TAN],13,0,2,0,2
Togo (TOG),10,0,0,1,1
Tonga (TGA),9,0,1,0,1
Virgin Islands (ISV),12,0,1,0,1
Zambia (ZAM) [ZAM],13,0,1,1,2
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3

In [45]:
summer2[(summer2['gold'] < 10) & (summer2['gold'] > 5)]   ## and는 사용 못함. & 이 표시로 해야 함.

                        games  gold  silver  bronze  total
Azerbaijan (AZE)            6     7      11      24     42
Bahamas (BAH)              16     6       2       6     14
Egypt (EGY) [EGY] [Z]      22     7      10      15     32
Estonia (EST)              12     9       9      16     34
Georgia (GEO)               6     8       7      17     32
India (IND) [F]            24     9       7      12     28
Indonesia (INA)            15     7      13      12     32
Ireland (IRL)              21     9      10      12     31
Lithuania (LTU)             9     6       6      13     25
Morocco (MAR)              14     6       5      12     23
Slovakia (SVK) [SVK]        6     9      12       7     28
Thailand (THA)             16     9       8      16     33
Uzbekistan (UZB)            6     7       6      18     31
Mixed team (ZZX) [ZZX]      3     8       5       4     17

In [47]:
summer2.sort_values(['gold'], ascending=False).iloc[:5]   #iloc[:5] -> top5만 나와라~

                                         games  gold  silver  bronze  total
United States (USA) [P] [Q] [R] [Z] [F]     27  1022     795     706   2523
Soviet Union (URS) [URS]                     9   395     319     296   1010
Great Britain (GBR) [GBR] [Z]               28   263     295     293    851
China (CHN) [CHN]                           10   224     167     155    546
France (FRA) [O] [P] [Z]                    28   212     241     263    716

In [49]:
summer2.index[0]

'Afghanistan\xa0(AFG)'

In [51]:
summer2.loc['Afghanistan\xa0(AFG)']

games     14
gold       0
silver     0
bronze     2
total      2
Name: Afghanistan (AFG), dtype: int64

In [52]:
# index.str : index타입을 string 리스트로 만들어서 string관련 함수를 호출할 수 있게 만드는 기능. 문자열 ->string 함수로 호출하고 싶을때 이용.
# Series,  인덱스에 사용한다.
summer2 [summer2.index.str.contains('Korea')]

                   games  gold  silver  bronze  total
North Korea (PRK)     10    16      16      22     54
South Korea (KOR)     17    90      87      90    267

In [53]:
summer2.index

Index(['Afghanistan (AFG)', 'Algeria (ALG)', 'Argentina (ARG)',
       'Armenia (ARM)', 'Australasia (ANZ) [ANZ]', 'Australia (AUS) [AUS] [Z]',
       'Austria (AUT)', 'Azerbaijan (AZE)', 'Bahamas (BAH)', 'Bahrain (BRN)',
       ...
       'Uzbekistan (UZB)', 'Venezuela (VEN)', 'Vietnam (VIE)',
       'Virgin Islands (ISV)', 'Yugoslavia (YUG) [YUG]', 'Zambia (ZAM) [ZAM]',
       'Zimbabwe (ZIM) [ZIM]', 'Independent Olympic Athletes (IOA) [IOA]',
       'Independent Olympic Participants (IOP) [IOP]',
       'Mixed team (ZZX) [ZZX]'],
      dtype='object', length=152)