In [1]:
#  네이버 영화 사이트에서 특정 일자의 영화 평점(현재상영) 순위 크롤링 해서 데이터프레임에 저장

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import requests
from bs4 import BeautifulSoup, NavigableString, Tag, Comment

In [29]:
url = 'https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&date={0}'

date = '20200701'

resp = requests.get(url.format(date))

soup = BeautifulSoup(resp.text, 'html.parser')

In [30]:
resp.status_code   #정상반응을 하는지 확인 코드

200

In [31]:
trs = soup.select('table.list_ranking tbody tr ')


movies = []
for tr in trs[1:]:
    tds = tr.select('td')
    if len(tds) > 1:  #빈 공간 줄 표시가 1개 이상 일 경우를 표시
    # print(tds)
        rank = int(tds[0].select_one('img')['alt'].lstrip('0'))  
        # 이미지를 찾아서 alt값을 가져오라는 표시 / lstrip('0') 숫자 0을 지운다는 표시
        title = tds[1].select_one('a').text.strip()  # text 대신 ['tatle] 해도 무관
        score = float(tds[3].text.strip())
        if len(tds) == 7 :
            direction = tds[5].select_one('img')['alt']
            sign = -1 if direction == 'down' else 1       #downd 일 경우 -1 표시, 아닐경우 1로 표시
            delta = int(tds[6].text.strip()) * sign
        elif len(tds) == 6:
            delta = 51 - rank        # 신규 진입한 경우 50위 벗어난 순위에서 지금 순위로 올라왔으므로 그만큼의 변동폭 표시
        movies.append([rank, title, score, delta])   #출력된게 문자열

# movies
columns=['순위','영화명','평점','변동폭']
movies_df=pd.DataFrame(movies, columns=columns)
movies_df

    순위            영화명    평점  변동폭
0    1         위대한 쇼맨  9.40    0
1    2         에이리언 2  9.34    0
2    3         다크 나이트  9.33   48
3    4    패왕별희 디 오리지널  9.31   -1
4    5            우리들  9.26   -1
5    6            톰보이  9.24   -1
6    7         러빙 빈센트  9.22   -1
7    8          어느 가족  9.20   -1
8    9     시간을 달리는 소녀  9.20   -1
9   10           오아시스  9.20   -1
10  11        스타 이즈 본  9.18   -1
11  12           에이리언  9.12   -1
12  13           늑대아이  9.11   -1
13  14            싸이코  9.11   -1
14  15           박하사탕  9.05   -1
15  16    타오르는 여인의 초상  9.04   -1
16  17        미스비헤이비어  9.04   -1
17  18         비긴 어게인  9.02   -1
18  19         인생 후르츠  9.02   -1
19  20            미져리  9.01   -1
20  21            변호인  8.99   -1
21  22        배트맨 비긴즈  8.95   -1
22  23           윤희에게  8.95   -1
23  24       기쿠지로의 여름  8.94   -1
24  25              시  8.93   -1
25  26  마담 프루스트의 비밀정원  8.92   -1
26  27      트롤: 월드 투어  8.86   -1
27  28  온워드: 단 하루의 기적  8.86    2
28  29           드라큐라  8.86   -2
29  30       콜 오브 와일드  8.84   -2
30  31      슬럼독 밀리어네어  8.83   -2
31  32        리틀 포레스트  8.80   -1
32  33             벌새  8.76   -1
33  34            도그빌  8.76   -1
34  35            현기증  8.73   -1
35  36        아메리칸 셰프  8.73   -1
36  37      바닷마을 다이어리  8.72   -1
37  38          썸머 워즈  8.67   -1
38  39      플로리다 프로젝트  8.63   -1
39  40        걸어도 걸어도  8.62   -1
40  41           라라랜드  8.60   -1
41  42       태풍이 지나가고  8.60   -1
42  43            플라이  8.60   -1
43  44     찬실이는 복도 많지  8.58   -1
44  45            족구왕  8.54   -1
45  46             캐리  8.46   -1
46  47       로렌스 애니웨이  8.42   -1
47  48          에어로너츠  8.40   -1
48  49   그랜드 부다페스트 호텔  8.37    0
49  50            스크림  8.36    0