In [5]:
# !pip install bs4
# !pip install lxml
# !pip install html5lib

In [2]:
from bs4 import BeautifulSoup

In [6]:
html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and
their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a>
and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>"""

In [7]:
soup = BeautifulSoup(html_doc, "html.parser")

In [9]:
soup.prettify() # 원본 HTML을 표시

'<html>\n <head>\n  <title>\n   The Dormouse\'s story\n  </title>\n </head>\n <body>\n  <p class="title">\n   <b>\n    The Dormouse\'s story\n   </b>\n  </p>\n  <p class="story">\n   Once upon a time there were three little sisters; and\ntheir names were\n   <a class="sister" href="http://example.com/elsie" id="link1">\n    Elsie\n   </a>\n   ,\n   <a class="sister" href="http://example.com/lacie" id="link2">\n    Lacie\n   </a>\n   and\n   <a class="sister" href="http://example.com/tillie" id="link3">\n    Tillie\n   </a>\n   ;\nand they lived at the bottom of a well.\n  </p>\n  <p class="story">\n   ...\n  </p>\n </body>\n</html>'

In [26]:
soup.title
soup.title.name
soup.title.text
soup.title.string
soup.p
soup.p['class']
soup.a
soup.a.attrs

{'href': 'http://example.com/elsie', 'class': ['sister'], 'id': 'link1'}

In [29]:
# soup.find_all('a')
# soup.find('a')
links = soup.find_all('a')
for link in links:
    print(link.attrs['href'])

http://example.com/elsie
http://example.com/lacie
http://example.com/tillie

In [30]:
soup.get_text()

"The Dormouse's story\n\nThe Dormouse's story\nOnce upon a time there were three little sisters; and\ntheir names were\nElsie,\nLacie\nand\nTillie;\nand they lived at the bottom of a well.\n..."

In [91]:
from selenium import webdriver

In [93]:
browser = \
webdriver.Chrome(r'D:\bigdata-analysis\dev-tools\chromedriver.exe')

In [94]:
browser.get('https://datalab.naver.com/keyword/realtimeList.naver?entertainment=2&groupingLevel=4&marketing=2&news=2&sports=2&where=main')

In [85]:
import time
import requests # urllib
from bs4 import BeautifulSoup

In [106]:
soup = BeautifulSoup(browser.page_source, "html.parser")

In [96]:
# ranks = soup.select('#NM_RTK_VIEW_list_wrap ul li a strong')
# keywords = soup.select('#NM_RTK_VIEW_list_wrap ul li a span')
ranks = soup.select('div.ranking_box ul li span.item_num')
keywords = soup.select('div.ranking_box ul li span.item_title')

In [102]:
ranks[2].text
# keywords

In [103]:
for rank, keyword in zip(ranks, keywords):
    print("[{0}].[{1}]".format(rank.text, keyword.text))

[1].[아토오겔]
[2].[편의점 비말마스크]
[3].[로스트아크]
[4].[경기도 청소년 교통비 지원]
[5].[우아한 거짓말]
[6].[아리따움 색다른 초대전]
[7].[윤기원]
[8].[강경헌]
[9].[라이프치히]
[10].[아이비 아하]
[11].[송지아]
[12].[이인영]
[13].[코로나 치료제]
[14].[미스터 기간제]
[15].[평택 고덕 호반써밋2차]
[16].[임종석]
[17].[도리화가]
[18].[에바]
[19].[폴더버거]
[20].[배달해서 먹힐까]

In [107]:
browser.quit()

In [ ]:
# https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917
# 917회차 당첨번호(보너스포함)를 추출해서 리스트에 저장하세요
# requests 모듈과 BeautifulSoup 모듈을 사용하세요

In [111]:
# https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917
# 1회 ~ 917회차 당첨번호(보너스포함)를 추출해서 데이터프레임에 저장하세요
# 데이터프레임의 행: 회차번호 / 열: 순서번호
# requests 모듈과 BeautifulSoup 모듈을 사용하세요

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import requests 
from bs4 import BeautifulSoup

In [112]:
resp = \
requests.get('https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917')

In [113]:
# resp.text

In [114]:
soup = BeautifulSoup(resp.text, "html.parser")

In [115]:
num_wins = soup.select('div.nums .num.win span')
num_bonus = soup.select('div.nums .num.bonus span')

In [121]:
winning_numbers = []
for num_win in num_wins:
    winning_numbers.append(int(num_win.text))
winning_numbers.append(int(num_bonus[0].text))

In [120]:
wining_numbers

[1, 3, 23, 24, 27, 43, 34]

In [124]:
url = \
    'https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo={0}'
all_winning_numbers = {}
# for rnd in range(1, 917 + 1):
for rnd in range(1, 10 + 1):
    resp = requests.get(url.format(rnd))
    soup = BeautifulSoup(resp.text, "html.parser")

    num_wins = soup.select('div.nums .num.win span')
    num_bonus = soup.select('div.nums .num.bonus span')

    winning_numbers = []
    for num_win in num_wins:
        winning_numbers.append(int(num_win.text))
    winning_numbers.append(int(num_bonus[0].text))

    all_winning_numbers[rnd] = winning_numbers

    time.sleep(0.5)

In [133]:
all_winning_numbers_df = \
    pd.DataFrame(all_winning_numbers, 
                 index=['num1', 'num2', 'num3', 
                        'num4', 'num5', 'num6', 'bonus'])
all_winning_numbers_df.T

    num1  num2  num3  num4  num5  num6  bonus
1     10    23    29    33    37    40     16
2      9    13    21    25    32    42      2
3     11    16    19    21    27    31     30
4     14    27    30    31    40    42      2
5     16    24    29    40    41    42      3
6     14    15    26    27    40    42     34
7      2     9    16    25    26    40     42
8      8    19    25    34    37    39      9
9      2     4    16    17    36    39     14
10     9    25    30    33    41    44      6

In [134]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import requests 
from bs4 import BeautifulSoup

In [136]:
resp = \
requests.get('https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917')

soup = BeautifulSoup(resp.text, "html.parser")

num_wins = soup.select('div.nums .num.win span')
num_bonus = soup.select('div.nums .num.bonus span')

winning_numbers = []
for num_win in num_wins:
    winning_numbers.append(int(num_win.text))
winning_numbers.append(int(num_bonus[0].text))

winning_numbers

[1, 3, 23, 24, 27, 43, 34]

In [138]:
type(num_wins)

bs4.element.ResultSet

In [139]:
url = 'https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo={0}'
all_winning_numbers = {}
# for rnd in range(1, 917 + 1):
for rnd in range(1, 20 + 1):
    resp = requests.get(url.format(rnd))
    soup = BeautifulSoup(resp.text, "html.parser")

    num_wins = soup.select('div.nums .num.win span')
    num_bonus = soup.select('div.nums .num.bonus span')

    winning_numbers = []
    for num_win in num_wins:
        winning_numbers.append(int(num_win.text))
    winning_numbers.append(int(num_bonus[0].text))

    all_winning_numbers[rnd] = winning_numbers

    time.sleep(0.5)

In [149]:
all_winning_numbers_df = \
    pd.DataFrame(all_winning_numbers.values(), 
                 columns=['num1', 'num2', 'num3', 
                        'num4', 'num5', 'num6', 'bonus'],
                 index=[ str(rndx) + '회차' for rndx in all_winning_numbers.keys()])
all_winning_numbers_df

      num1  num2  num3  num4  num5  num6  bonus
1회차     10    23    29    33    37    40     16
2회차      9    13    21    25    32    42      2
3회차     11    16    19    21    27    31     30
4회차     14    27    30    31    40    42      2
5회차     16    24    29    40    41    42      3
6회차     14    15    26    27    40    42     34
7회차      2     9    16    25    26    40     42
8회차      8    19    25    34    37    39      9
9회차      2     4    16    17    36    39     14
10회차     9    25    30    33    41    44      6
11회차     1     7    36    37    41    42     14
12회차     2    11    21    25    39    45     44
13회차    22    23    25    37    38    42     26
14회차     2     6    12    31    33    40     15
15회차     3     4    16    30    31    37     13
16회차     6     7    24    37    38    40     33
17회차     3     4     9    17    32    37      1
18회차     3    12    13    19    32    35     29
19회차     6    30    38    39    40    43     26
20회차    10    14    18    20    23    30     41

In [150]:
all_winning_numbers.values()

dict_values([[10, 23, 29, 33, 37, 40, 16], [9, 13, 21, 25, 32, 42, 2], [11, 16, 19, 21, 27, 31, 30], [14, 27, 30, 31, 40, 42, 2], [16, 24, 29, 40, 41, 42, 3], [14, 15, 26, 27, 40, 42, 34], [2, 9, 16, 25, 26, 40, 42], [8, 19, 25, 34, 37, 39, 9], [2, 4, 16, 17, 36, 39, 14], [9, 25, 30, 33, 41, 44, 6], [1, 7, 36, 37, 41, 42, 14], [2, 11, 21, 25, 39, 45, 44], [22, 23, 25, 37, 38, 42, 26], [2, 6, 12, 31, 33, 40, 15], [3, 4, 16, 30, 31, 37, 13], [6, 7, 24, 37, 38, 40, 33], [3, 4, 9, 17, 32, 37, 1], [3, 12, 13, 19, 32, 35, 29], [6, 30, 38, 39, 40, 43, 26], [10, 14, 18, 20, 23, 30, 41]])