In [1]:
import cx_Oracle

import pandas as pd

In [2]:
import os
#한글 지원 방법
os.putenv('NLS_LANG', '.UTF8')

In [3]:
local_ip = '200.1.220.251:1521/xe' # 원내에서 접속할 db_ip
outside_ip = '61.35.152.103:1521/xe' # 원밖에서 접속할 db_ip
db_id = 'begopa' 
db_pwd = 'begopa1'

In [10]:
def ipcheck():    
    import urllib 
    import re
    
    wan = re.search(re.compile(b'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}'), urllib.request.urlopen('http://checkip.dyndns.org').read()).group().decode('utf-8')
    
    return wan

db_ip = local_ip if '61.35.152.66' == ipcheck() else outside_ip
ipcheck(), db_ip

('61.35.152.66', '200.1.220.251:1521/xe')

In [5]:
print(db_id, db_pwd, db_ip)

begopa begopa1 200.1.220.251:1521/xe

In [6]:
con = cx_Oracle.connect(db_id, db_pwd, db_ip, encoding="UTF-8")

cur = con.cursor()

cur.execute("create table python(id number)")

# cur.excute("select * from table")

# for row in cur:
#     print(row)

# df = pd.read_sql("select * from table", con = con )
# df.head()
    
cur.close()
con.close()