In [1]:
import pickle

In [2]:
with open('total_pop_ch.pickle', 'rb') as f:
    data = pickle.load(f)

In [3]:
data

,기준_년_분기_코드,상권_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,여성_주중_유동인구수,남성_주중_유동인구수,여성_주말_유동인구수,남성_주말_유동인구수,총_주중_유동인구수,...,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,hl_총_직장_인구_수,hl_남성_직장_인구_수,hl_여성_직장_인구_수,상권_변화_지표_HH,상권_변화_지표_HL,상권_변화_지표_LH,상권_변화_지표_LL
0,2019_1,1000001,118266,61268,56997,9103,10008,7228,6575,86815,...,348,142,206,24345.0,19877.0,4468.0,0,0,1,0
1,2019_1,1000002,246619,147358,99261,14616,20191,16578,30739,156385,...,486,254,232,13270.0,6153.0,7117.0,0,1,0,0
2,2019_1,1000003,144480,80073,64407,10823,13782,7294,8392,107665,...,4822,2188,2634,44890.0,32318.0,12572.0,1,0,0,0
3,2019_1,1000004,322387,155635,166753,23108,22411,18610,16982,248361,...,104,58,46,2196.0,1194.0,1002.0,0,0,1,0
4,2019_1,1000005,23622,10781,12848,2053,1638,2438,2079,14580,...,1080,692,388,1820.0,994.0,826.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,2019_2,1001006,309262,149761,159498,22274,20644,26441,25956,210320,...,504,261,243,1996.0,1108.0,888.0,0,0,1,0
2016,2019_2,1001007,55873,37566,18307,3160,6192,1515,2668,45705,...,462,305,157,1171.0,816.0,355.0,0,0,1,0
2017,2019_2,1001008,390072,189332,200742,30603,28345,25121,27175,273770,...,149,95,54,4362.0,2489.0,1873.0,0,0,0,1
2018,2019_2,1001009,738256,369072,369178,52268,51611,60548,59438,509172,...,543,378,165,6413.0,3834.0,2579.0,0,1,0,0
2019,2019_2,1001010,180328,85709,94618,13815,12064,13777,13487,126464,...,231,73,158,2935.0,1774.0,1161.0,0,0,0,1