In [52]:
import cx_Oracle

import pandas as pd

In [53]:
import os
#한글 지원 방법
os.putenv('NLS_LANG', '.UTF8')

In [54]:
local_ip = '200.1.220.251:1521/xe' # 원내에서 접속할 db_ip
outside_ip = '61.35.152.103:1521/xe' # 원밖에서 접속할 db_ip
db_id = 'begopa' 
db_pwd = 'begopa1'

In [55]:
def ipcheck():    
    import urllib 
    import re
    
    wan = re.search(re.compile(b'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}'), urllib.request.urlopen('http://checkip.dyndns.org').read()).group().decode('utf-8')
    
    return wan

db_ip = local_ip if '61.35.152.66' == ipcheck() else outside_ip

In [60]:
con = cx_Oracle.connect(db_id, db_pwd, db_ip, encoding="UTF-8")

cur = con.cursor()

cur.execute(create_table())

# cur.excute("select * from table")

# for row in cur:
#     print(row)

# df = pd.read_sql("select * from table", con = con )
# df.head()
    
cur.close()
con.close()

In [17]:
import pickle

In [47]:
with open("col2dict.pickle","rb") as fr:
    data = pickle.load(fr)

In [59]:
def create_table():
    tmp = ''
    for idx, col in enumerate(data['br_change_ix']):
        if( idx != 0 ):
            tmp += ','
        tmp += col[1][0] + ' ' + col[1][1]    
    ttmp = 'CREATE TABLE {0}({1})'.format('br_change_ix',tmp)
    return ttmp

In [51]:
create_table()

'creat table br_change_ix(STDR_YY_CD varchar2(4),STDR_QU_CD varchar2(1),SIGNGU_CD varchar2(10),SIGNGU_CD_NM varchar2(10),TRDAR_CHNGE_IX varchar2(5),TRDAR_CHNGE_IX_NM varchar2(10),OPR_SALE_MT_AVRG number,CLS_SALE_MT_AVRG number,SU_OPR_SALE_MT_AVRG number,SU_CLS_SALE_MT_AVRG number)'