In [1]:
from sklearn.datasets import load_iris

In [2]:
iris_datasets = load_iris()
iris = iris_datasets['data']
label = iris_datasets['target']

In [3]:
iris_datasets['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [4]:
iris[:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [5]:
from sklearn.cluster import KMeans

In [6]:
kmeans = KMeans(n_clusters=3, random_state=42)

In [9]:
predict_cluster=kmeans.fit_predict(iris)
predict_cluster

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0])

In [11]:
import pandas as pd
import numpy as np

In [14]:
df=pd.DataFrame(np.hstack((iris, predict_cluster.reshape((-1,1)))), columns=iris_datasets['feature_names'] + ['category'])   #결합

In [15]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),category
0,5.1,3.5,1.4,0.2,1.0
1,4.9,3.0,1.4,0.2,1.0
2,4.7,3.2,1.3,0.2,1.0
3,4.6,3.1,1.5,0.2,1.0
4,5.0,3.6,1.4,0.2,1.0

In [17]:
df.groupby(['category']).mean()
df.groupby(['category']).describe()

         sepal length (cm)                                                 \
                     count      mean       std  min    25%  50%  75%  max
category
0.0                   62.0  5.901613  0.466410  4.9  5.600  5.9  6.2  7.0
1.0                   50.0  5.006000  0.352490  4.3  4.800  5.0  5.2  5.8
2.0                   38.0  6.850000  0.494155  6.1  6.425  6.7  7.2  7.9

         sepal width (cm)            ... petal length (cm)       \
                    count      mean  ...               75%  max
category                             ...
0.0                  62.0  2.748387  ...             4.800  5.1
1.0                  50.0  3.428000  ...             1.575  1.9
2.0                  38.0  3.073684  ...             6.000  6.9

         petal width (cm)
                    count      mean       std  min    25%  50%    75%  max
category
0.0                  62.0  1.433871  0.297500  1.0  1.300  1.4  1.575  2.4
1.0                  50.0  0.246000  0.105386  0.1  0.200  0.2  0.300  0.6
2.0                  38.0  2.071053  0.279872  1.4  1.825  2.1  2.300  2.5

[3 rows x 32 columns]