In [1]:
print('hello')
print("Hello")
# print(hello) error : ?

hello
Hello

In [2]:
print("first line \
      second line \
      third line")
print('''first line
      second line
      third line''')

first line       second line       third line
first line
      second line
      third line

In [3]:
#print("no print")
print("print")

print

In [4]:
if True:
    print('True')

True

## 변수와 자료형
### 변수와 자료형
#### 변수와 자료형

In [5]:
name = 'John'
age = 32
email = "johndoe@example.com"
phone = "010-8548-9652"
married = False # or True
height = 183.65
asset = None

print(name, age, email, phone, married, height, asset, 
      sep=' / ')

John / 32 / johndoe@example.com / 010-8548-9652 / False / 183.65 / None

In [6]:
a = 10
b = 20
c = 30
print(a, b, c)
a, b, c = 100, 200, 3000
print(a, b, c)
a, b, c = (1000, 2000, 3000)
print(a, b, c)

10 20 30
100 200 3000
1000 2000 3000

In [7]:
a = 100
print(a)
del a
# print(a)

100

In [8]:
print(10 / 3) # 일반 나눗셈 
print(10 % 3) # 나머지 연산
print(10 // 3) # 몫 연산
print(10 ** 3) #거듭 제곱 연산

3.3333333333333335
1
3
1000

In [9]:
print("10" + "10")
print(10 + 10)
print(int("10") + int("10"))
print(float("11.11") + float("22.22"))

1010
20
20
33.33

In [10]:
print("this is python" * 2)
print([1, 2, 3, 4, 5] * 2)

this is pythonthis is python
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [11]:
str_ = "Life is too short, You need Python" 
print(str_)
print(str_[19])
print(str_[19:22])
print(str_[-6])
print(str_[19:-6])
print(str_[:])
print(str_[::2])

Life is too short, You need Python
Y
You
P
You need
Life is too short, You need Python
Lf stosot o edPto

In [12]:
name = 'Jane Doe'
age = 29
email = "janedoe@example.com"
print('[', name, '][', age, '][', email, ']')
print('[ %s ][ %d ][ %s ]'%(name, age, email))
print('[ {0} ][ {1} ][ {2} ]'.format(name, age, email) )
print('[ {2} ][ {0} ][ {1} ]'.format(age, email, name) )
print('[ {0} ][ {1} ][ {2} ]'.format(age, name, email) )

[ Jane Doe ][ 29 ][ janedoe@example.com ]
[ Jane Doe ][ 29 ][ janedoe@example.com ]
[ Jane Doe ][ 29 ][ janedoe@example.com ]
[ Jane Doe ][ 29 ][ janedoe@example.com ]
[ 29 ][ Jane Doe ][ janedoe@example.com ]

In [13]:
multiline = "Life is too short!!!\n\tYou need \"python\""
print(multiline)
multiline = "Life is too \'short\'!!!\n\tYou need \"python\""
print(multiline)

Life is too short!!!
	You need "python"
Life is too 'short'!!!
	You need "python"

In [14]:
print(",".join(['1', '2', '3', '4', '5']))
print(",".join('12345'))
print(",".join([str(1), str(2), str(3), str(4), str(5)]))

1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

In [15]:
a = "Life is too short" 
b = a.split()
print(b)
c = ":".join(b)
print(c)
print(a.replace(" ", ":"))

['Life', 'is', 'too', 'short']
Life:is:too:short
Life:is:too:short